[2015-07-16 18:38] xperiandri opened #861 "How to get only inner text from an HtmlNode?"
I have such HTML
[code]
And I want to extract ```21 minutes ago``` from it.
But ```InnerText()``` returns ```21 minutes ago LIVEÂ Â "``` instead.

How to eliminate span elements from inner text?

[2015-07-16 20:04] ovatsus commented on #861
This is a gap, this should be fixed. As a immediate workaround you can use ``HtmlNode.innerTextExcluding ["span"] div``

[2015-07-16 20:26] xperiandri commented on #861
Cool! Thanks, this indeed works!

[2015-07-19 10:25] #860 closed

[2015-07-24 16:27] mrange opened #863 "Json Parser ambiguousness when parsing numbers using cultures"
As the json parser supports parsing numbers according to the current culture what is the reasonable behavior of the following code (swedish culture uses ',' as decimal delimiter)?

[code]

It seems to crash currently but I am unsure what would make sense.

The following code also seems to crash:

[code]

If one goes by the letter of the law (json.org) the answer seems easy (don't support cultures)

[2015-07-24 16:35] ovatsus commented on #863
The default is the invariant culture, so that works ok, if a culture is specified with comma as the decimal separator, I'd say comma being the array delimited should take precedence.

[2015-07-24 18:28] mrange commented on #863
What do you mean by take precedence? Should [1,2,3] be interpreted as:
[1,2,3]
[1.2,3]
or
[1,2.3]

[2015-07-24 18:31] ovatsus commented on #863
The first one. I haven't double checked, but I believe that's the current behaviour. If not, I would consider that a bug, as it would be deviating from the json spec

[2015-07-24 18:43] mrange commented on #863
When trying to add a test case this seems to crash:

[code]

[2015-07-24 18:46] mrange commented on #863
I suspect it's because parseNum tries to parse `1,2,3` as float

[code]

[2015-07-24 19:47] giacomociti commented on #57
Hi, in my [hobby project] (https://github.com/giacomociti/AntaniXml) I dealt with`System.Xml.Schema`. So maybe I can help here (but I'm a GitHub and TP noob). My idea is to define a simplified schema model, much like [this] (https://github.com/giacomociti/AntaniXml/blob/master/src/AntaniXml/XsdDomain.fs) but even simpler. Then we can split the task:
* mapping element definitions in xsd files to in

[2015-07-24 20:29] nwolverson commented on #57
That doesn't seem like a bad idea, but have you looked at the current version? By my recollection it was mostly there, maybe some issues with external references & could do with checking by someone who really understands XSD.

And I guess before this can ever be merged, some tidying up of the API as discussed above, some decisions to be made.

[2015-07-24 20:48] giacomociti commented on #57
Sure I need first to play a bit with the current version. At a glance I just noticed that using `XmlSchemaSet` instead of `XmlSchema`, and calling the `Compile()` method on it may help with external references. But knowing a few quirks like this does not make me an XSD expert.

[2015-07-24 21:11] mrange opened #864 "Json Parser upgrade?"
Hi.

During summer I have been working on an F# JSON parser with my goals of being 100% conforming as well as having decent performance. In addition parser failures should produce good error messages telling the user not only where it fails but also what was expected or unexpected.

During my performance testings I found the parser to compare favorable to JSON.NET as well as FSharp.Data.

A though

[2015-07-25 09:21] ovatsus commented on #864
I think it would be ok to replace the parser entirely. There was an original parser from @forki, and it had some perf issues, and then we replaced it from the one in the Freebase provider from @dsyme which was faster. Then there were a couple of refactorings and fixes, so the number parsing uses the common methods from TextConversions, which creeped in the culture support. Looking back I think tho

[2015-07-25 09:59] mrange commented on #864
Ok, that sounds like a way forward.

By Fault-tolerance I meant the flag that allows trailing commas (and other things? Perhaps it's the same as the sample flag)

A thing I am considering is to add to the test suite a reference JSON parser that the actual JSON parser can be compared against. I found that very helpful when testing both positive and negative test cases. My current reference parser i

[2015-07-25 10:04] ovatsus commented on #864
Oh yes, that's the same as the sample. It's fine to add dependencies to the tests. You can even add Json.Net which has became the de facto parser in .NET

[2015-07-25 15:50] mrange commented on #864
Begun replacing the existing parser to see what happens with the test cases, not too bad result so far but of course work remains (mainly wrt to pretty printing/parsing of decimals it seems)

Noticed another regression, previous parser supported \U1234 as unicode character, JSON seems only to support lowercase \u.

[2015-07-25 16:11] ovatsus commented on #864
That was a recent fix, as json documents from DbPedia had them, check the history of the file

[2015-07-28 14:14] haf commented on #675
HttpUtility has bugs that doesn't make it suitable for uri encoding strings, so I would advice against it.

[2015-07-31 07:27] runefs commented on #57
FYI: I've started trying to look into this again and for one changing to
schemaset. I hope to have that incorporated soonish. I'm running the tests
at the moment trying to wead out a few issues. WHen that's done I will
rerun with the XSDs mentioned previously in this thread

2015-07-24 22:48 GMT+02:00 giacomociti <notifications@github.com>:

[2015-08-02 23:37] giacomociti commented on #57
In fact the XsdProvider seems almost there, but still there are a few issues and I was not able to sort them out.
In the meantime I also pursued my 'divide and conquer' [attempt](https://github.com/giacomociti/FSharp.Data/blob/XsdProvider-SchemaSet/src/Xsd/XsdInference.fs), mapping xsd to `InferedType` through an intermediate simplified representation of xsd.
The approach to better follow the [adv

[2015-08-03 04:06] runefs commented on #57
Also for recursive types? And for other situations where the same type is used in multiple places?

-Rune

[2015-08-03 08:05] giacomociti commented on #57
Not yet. I just focused on providing the type for a single global element definition.
I acknowledge it's worth providing types also for complex types in xsd.
The problem I see is that, while the runtime representation for an element definition is clearly an `XmlElement`, for complex types it may be something a little different, yielding an `XmlElement` only when given an element name.

[2015-08-03 19:02] naveensrinivasan opened #865 "Handle "The given key was not present in the dictionary" in HtmlProvider"
The html I am trying to parse sometimes need not have the values present and that is causing the
[code]

Here is the code
[code]

Other than parsing using the specific elements could I avoid this?

Thanks

[2015-08-03 21:00] colinbull commented on #865
Not at the moment. There was talk of a non-strict mode for the html provider. But I have had no spare time to actually implement this, among a host of other things.

The only alternative as you say is to parse the elements yourself. However maybe you could be a little clever and just check for the existence of a given table or list then if it exists use the provider to actually extract the detail,

[2015-08-03 21:16] naveensrinivasan commented on #865
Thanks!

[2015-08-03 21:16] #865 closed

[2015-08-11 13:51] runefs commented on #57
@gustavo. please ignore the pull request from previous today to this issue.
I seem to have misunderstood the build command (or build the wrong project
at least) I'll be back when the very obvious errors are corrected. Sorry
for the inconvenience :)

2015-08-03 10:05 GMT+02:00 Giacomo Citi <notifications@github.com>:

[2015-08-11 13:56] ovatsus commented on #57
no problem

[2015-08-12 14:59] marklam opened #867 "XmlProvider in 2.2.5 on F# 4 project causes multiple FSharp.Core assembly references"
To repro:
Create an empty F# 4 Console app in VS2015
Add the FSharp.Data 2.2.5 package
Use an Xml provided class:
[code]
Look at the Assembly references for the exe under ILSpy
[code]
There are duplicate identical mscorlib references; and references to FSharp.Core 4.3.1 and 4.4.0

[2015-08-13 02:06] jkodroff commented on #675
I think RestSharp [had the same issue](https://github.com/restsharp/RestSharp/pull/247) and resolved it by chunking the string.

[2015-08-19 15:00] xkrt opened #869 "CsvProvider and missing columns"
Hi, I have a problem with `CsvProvider` and my data, which may sometimes miss some columns (and I know what columns may be missed).

Csv provider:
[code]

Good data sample, all columns as in `inferSample`. Everything works as expected.
[code]

Not complete data, column `two` is completely missed:
[code]

Stack trace:
[code]

I tried to add `Schema="two=string option"` with no luck.
Can I somehow h

[2015-08-19 19:12] runefs commented on #57
So I got the code working with compiled schema sets and also with what I
find to be much cleaner code. However I have an issue in the travis build
that I would very much appreciate a little insight into. Being pre-newb on
travis and having very little experience with anything ending in .sh. The
error on travis is very much consistent with an error that I previously had
in the code which is now fix

[2015-08-20 22:43] philderbeast opened #870 "Single column CSV Row construction gets invalid cast to 1-tuple."
With FSharp.Data v2.2.0 and v2.2.5 I got this exception when constructing single column CSV rows. I had no such problem with multicolumn CSV rows.

    type S = CsvProvider<"""
    s (string)
    aa
    bb
    """>

    ["aa"; "bb"] |> List.map (fun x -> S.Row(x))
    // System.InvalidCastException: Unable to cast object of type 'System.String' to type 'System.Tuple`1[System.String]'.

I get the s

[2015-08-20 22:48] philderbeast commented on #870
A workaround is to use a dummy 2nd column ...

    type S = CsvProvider<"""
    s (string), dummy (string option)
    aa,
    bb,
    """

    ["aa"; "bb"] |> List.map (fun x -> S.Row(x, None))

[2015-08-24 03:12] jackfoxy opened #871 "Up for grabs: Add encoding parameter to load methods of CSV/XML/CSV provider"
Pretty sure the problem referenced in this Gist https://gist.github.com/mitalkakaiya/18bc73acd69cee514a1c is because `StreamReader :> TextReader` constructed at line 227 in FSharp.Data.IO is always constructed with `Encoding.UTF8`. The reader skips big blocks of rows in the input file, starting after successfully reading line 10470 in the input file.

Does not seem to be a way for user to pass alt

[2015-08-24 09:53] ovatsus commented on #871
You can always use the overload that takes a stream instead, but agreed, this should be fixed

[2015-08-24 09:55] ovatsus commented on #870
This won't be easy to fix, and it doesn't seem a very common scenario. Not sure if we should just throw a mote explicit exception like "one column csv's not supported

[2015-08-24 09:56] ovatsus commented on #869
You can use IgnoreErrors=true so that rows with missing columns will be skipped

[2015-08-24 09:58] ovatsus commented on #867
/cc @dsyme
Not sure how to fix this, I think it's a generalized problem with type providers

[2015-08-24 10:07] xkrt commented on #869
@ovatsus then all rows will be skipped. I want to parse with single type two possible inputs:
1. with `one`, `two`, `three `columns
2. with `one`, `three` columns (all rows not contains `two` column as well as header row)

[2015-08-24 10:08] cboudereau commented on #867
With vs 2015, fsharp.core came from framework with the project node private
true. Nuget can't understand the problem with the target framework nuget
config. I think for fsharp 4 type provider must have the fsharp.core from
framework not from nuget.
On Aug 24, 2015 11:58 AM, "Gustavo Guerra" <notifications@github.com> wrote:

[2015-08-24 10:09] ovatsus commented on #869
Unfortunately that isn't supported, and won't be easy to. How do you known when there's 2 columns instead of 3, that the missing one is the second one and not the third?

[2015-08-24 10:48] xkrt commented on #869
@ovatsus in my case I really know, that `two` maybe missing (and this is ok), not `one` or `three` (if one of them missing - this is error). Yes, my case is special, but it taken from real world (csv data feeds from https://www.whoisxmlapi.com/).

[2015-08-24 15:23] jackfoxy commented on #871
I'm only guessing the issue is with the encoding. All I know for sure is the TextReader skipping blocks of lines according to breakpoints I set in `CsvRuntime.fs let rec readLines lineNumber = seq {...`

[2015-08-27 20:02] giacomociti commented on #57
Glad to see @runefs progress, so I better quit experimenting on my own.
I may help a bit in refining and testing the code once it get merged.
Unfortunately I cannot really help with trevis and build related stuff in general.

[2015-08-29 15:13] runefs commented on #57
@GiacomoCiti I don't think it as such is caused by the build. It seems to
be either Mono or *nix that causes it to work differently. I'm trying to
create a VM where I can recreate the problem so that I can debug it

2015-08-27 22:02 GMT+02:00 Giacomo Citi <notifications@github.com>:

[2015-09-04 12:32] dsyme commented on #867
I just took a look at this.  If it helps, I don't think it's actually a problem as long as an appropriate binding redirect for FSharp.Core is present for the execution of the overall program.

The way FSharp.Data works currently is that it emits either FSharp.Core 4.3.0.0 (when using ``lib\net40\FSharp.Data.dll``) or FSharp.Core 2.3.5.0 (when using ``lib\portable-net40+sl5+wp8+win8\FSharp.Data.dll

[2015-09-07 08:44] nenono opened #872 "CSV Provider Doesn't Quote Newline"
When I tried to write CSV file that contains newlines in a cell. I expected the cell will be quoted by double-quotation. But it was not quoted.

## Example(Console Application):
[code]

## Output:
[code]
actual->"def ghi" cell is not quoted.

## Environment:
- Visual Studio 2013
- .NET Framework 4.5
- F# 3.1
- FSharp.Data 2.2.5

[2015-09-08 15:49] ckpearson commented on #57
Hi, I'm working on a project at the moment that requires us to produce an XML document based on quite a strict and large schema and I instantly thought "F# type providers!". Did you manage to get this working at all?

[2015-09-08 17:48] runefs commented on #57
Currently there's a cross compilation bug. System.Xml behaves differently
in the mono binding and MS binding.

2015-09-08 17:50 GMT+02:00 Clint Pearson <notifications@github.com>:

[2015-09-08 17:49] ckpearson commented on #57
I see, is there a place I can grab it for targeting MS .NET? I'll only be running on Windows anyway.

[2015-09-14 20:35] ImaginaryDevelopment opened #874 "XmlProvider throws up"
When pointed at a large complex Xml file intellisense dies, autocomplete dies, the VisualStudio stops responding, and sometimes compilation just stops working with
![image](https://cloud.githubusercontent.com/assets/121276/9860688/9fb88792-5afb-11e5-9453-d3edf2bc896d.png)

after trying to build, which never finishes it then switches to
`The type provider 'ProviderImplementation.XmlProvider' report

[2015-09-24 15:12] dsyme commented on #841
this is also in #875

[2015-09-27 18:26] ovatsus opened #877 "Header being considered as data row in HTMLProvider"
https://en.wikipedia.org/wiki/List_of_Doctor_Who_serials

    let doctorWho = new HtmlProvider<"http://en.wikipedia.org/wiki/List_of_Doctor_Who_serials">()
    let row = doctorWho.Tables.Overview.Rows.[0]
    val row : HtmlProvider<...>.Overview.Row =  ("", "Season/Series", "Doctor(s)", "Serials", "Episodes", "First aired",   "Last aired", "Premiere", "Finale", "Average")

[2015-09-27 18:35] ovatsus opened #878 "Replace GitHub JsonProvider example with something else in ConsoleTests because of rate limit"

[2015-09-27 19:35] #841 closed

[2015-09-29 15:30] #870 closed

[2015-10-01 08:47] flypixel opened #879 "Bug when call request from Http module"
[code]
and I get this exception in fsi:
*System.ArgumentOutOfRangeException: Length cannot be less than zero.
Parameter name: length
   at Microsoft.FSharp.Control.AsyncBuilderImpl.commit[a](Result`1 res)
   at Microsoft.FSharp.Control.CancellationTokenOps.RunSynchronously[a](CancellationToken token, FSharpAsync`1 computation, FSharpOption`1 timeout)
   at Microsoft.FSharp.Control.FSharpAsync.RunS

[2015-10-01 08:57] flypixel commented on #879
Sorry, it was my miss understanding of situation, every thing works greate, thanks

[2015-10-01 09:33] flypixel commented on #879
When I changed code of *custom* function to this:
[code]
It began to work some times. For example for one reques it can be done correctly, but for the next request it can throw the exception  again.

[2015-10-11 09:36] fairjm opened #880 "Allow user specified Header used to download content"
http://stackoverflow.com/questions/33010648/jsonprovider-failed-to-parse-json-from-api-written-myself/33057597#33057597

It's not a bug of `JsonProvider` but a server site bug.

But I think to allow user specified header makes it more compatible to the given corner case.Since not every site is well designed and some of them may break the rule.

[2015-10-11 11:04] ovatsus commented on #880
You can specify headers using Http.RequestString and then using the output of that into JsonProvider

[2015-10-11 11:16] ovatsus commented on #867
@dsyme, do you know if your multi-targeting changes fixed this?

[2015-10-11 11:17] ovatsus commented on #879
Cannot repro

[2015-10-11 12:54] fairjm commented on #880
You are right.I can do downloading myself.
Thx.

[2015-10-11 12:54] #880 closed

[2015-10-11 16:31] #878 closed

[2015-10-11 16:54] ovatsus commented on #824
Closing as by design

[2015-10-11 16:54] #824 closed

[2015-10-11 16:55] ovatsus commented on #817
Closing as there's no repro

[2015-10-11 16:55] #817 closed

[2015-10-11 16:57] #548 closed

[2015-10-11 17:00] ovatsus commented on #664
No longer used

[2015-10-11 17:00] #664 closed

[2015-10-11 17:11] #872 closed

[2015-10-11 17:12] ovatsus commented on #587
Tried reenabling this again with latest FF/FCS, there's no longer any error, but it just hangs on CsvProvider.fsx

[2015-10-11 19:23] #877 closed

[2015-10-11 19:43] ovatsus commented on #874
It's a bit slow, but with current master works correctly (probably because of the changes to the assembly loader)
Will leave this here anyway as a good example to run a profiler on and try to optimize

[2015-10-15 13:21] phongphan commented on #607
The `DateTimeKind.Unspecified` is treated as `Local` when convert to UTC. `HttpWebRequest.Date` and `HttpWebRequest.IfModifiedSince` setter doing this internally.

The `GMT` doesn't seem to recognized by the DateTime parser.
[code]

[2015-10-30 21:03] 0x53A opened #887 "Strange Behaviour of Option<bool> in combination of UnitTest-Runner and separate AppDomains"
I uploaded the project to https://onedrive.live.com/redir?resid=5062EFE7E0C8ECCC!131311&authkey=!ADVebaLmSKK2Rfg&ithint=file%2czip
To reproduce, you can run the script "Run.fsx". For me, this leads to one successfull and one failing unit test.

I use the RTM Version of VS2015 Pro, the project targets .Net 4.5.2 and F#3.1 with FSharp.Core 4.3.1.0

I use FSharp.Data 2.2.5

A unit-test fails with

``

[2015-11-12 04:57] IanLeatherbury commented on #406
Was this issue ever resolved? I am seeing the same error in a Xamarin.iOS project. I only see it when I am trying to debug on device though. I am able to debug on simulator just fine. Project is located [here](https://github.com/ianleatherbury/tryfsharpforms), if you want to take a look!

[2015-11-13 00:37] IanLeatherbury opened #888 "Xamarin.iOS/Monotouch: Error MT2002: Failed to resolve assembly: 'FSharp.Data, Version=2.2.5.47, Culture=neutral, PublicKeyToken=null' (MT2002)"
When trying to build a Xamarin.iOS project for device that references an F# PCL, I receive the following error:

Error MT2002: Failed to resolve assembly: 'FSharp.Data, Version=2.2.5.47, Culture=neutral, PublicKeyToken=null' (MT2002)

Some preliminary research suggested that I need to build FSharp.Data myself against  Xamarin.iOS, or a supported PCL profile, and that the desktop framework assembli

[2015-11-13 17:32] jackfoxy commented on #888
Twitter @tihan may have some ideas.

[2015-11-13 17:36] IanLeatherbury commented on #888
I was using an unsupported PCL profile. Re-targeted to PCL Profile 7, which is also supported by Xamarin.Forms, and was able to deploy to device.

Thank you for the help!

[2015-11-13 17:36] #888 closed

[2015-11-17 12:16] jack-pappas commented on #864
Please also consider using Jil, it's very fast for parsing/serializing. It doesn't support some of the features @mrange suggested, but could be made to with a little work.

[2015-11-23 10:52] bartsokol opened #889 "Chunked transfer encoding not handled properly by HtmlProvider"
When trying to access page using chunked transfer encoding I only get first chunk of data and so I am unable to work on full page which contains actual data I need to use.

Sample code which is crashing:
[code]

Exception: `An unhandled exception of type 'System.Collections.Generic.KeyNotFoundException' occurred in FSharp.Core.dll`

Wiki about encoding used on page: https://en.wikipedia.org/wiki/C

[2015-11-23 11:10] Samvrie opened #890 "XmlProvider Optionnal types"
Hi, I have a question about the XmlProvider about optional types.

I've an element that look like this
[code]
And I would like to mark the B Element as optional.
To do that in my Sample Xml files I created two *Element*.
[code]
With that *Hack* the **XmlProvider** can figure out that the *B Attribute* is actually optional, but when I load an XmlFile it propose me a List of Element, but there's onl

[2015-11-24 16:49] CSharpFan opened #891 "JsonProvider trims property names"
Consider the following piece of code:

[code]

And `test.json`:

[code]

It seems that `A1234` is exposed as `A234`.

Also, it fails to launch because it can't read from the file (no reference to `A234` in the JSON).

A full working, well, non-working ;-) example can be found here: https://github.com/CSharpFan/weird-json-type-generation

[2015-11-24 21:54] xenocons commented on #891
Hello, I believe this is caused by UTF8 byte order marking, (see https://en.wikipedia.org/wiki/Byte_order_mark), your data that you posted within your git has the following: "EF BB BF 7B 20 22 41 31 32 33 34 22 3A 20 22 54 65 73 74 22 20 7D", notice the EF BB BF at the start). I suggest a workaround of the following:
[code]

[2015-11-24 22:04] xenocons commented on #890
Hi @Samvrie , perhaps this current proposal will eventually solve this issue, https://github.com/fsharp/FSharp.Data/issues/57 but for now I think your solution is fine as long as you check that the input length contains an element at index 0.

[2015-11-25 05:55] Samvrie commented on #890
Yes I an Xsd provider would really simplify the look of my sample XmlFile now. SInce I've a lot of attributes and elements which can be optional...

Thanks for the answer, I will be looking in the XsdProvider if I can give a hand into it.

[2015-11-25 05:55] #890 closed

[2015-11-25 22:03] giacomociti commented on #890
Hi @Samvrie, I think you don't need the hack: you can create a file with multiple samples and specify the parameter `SampleIsList = true`. Have a look at the [API reference](http://fsharp.github.io/FSharp.Data/reference/fsharp-data-xmlprovider.html). I cannot find an example in the docs so let me point you to the docs of  [my pet project](http://giacomociti.github.io/AntaniXml/tutorial.html) in th

[2015-11-26 09:51] bartsokol commented on #889
After further investigation I found out that the issue was not in chunked encoding but in initial redirection requested by the site (HTTP header with Refresh: 0). Site requires making two request, in first one we get cookies and we need to provide them in second request (when we get actual chunked data). Chrome Dev tools were not showing this redirect, I found it out using Fiddler/MSEdge dev tools

[2015-11-28 19:03] gdennie opened #892 "Nothing for OleDb?"
Conventional Sql databases are still important. Having OleDb support with pass through sql would be useful, I think. It would immediately make this library applicable to a vast collection of existing databases.

[2015-11-28 20:22] colinbull commented on #892
There are other type providers that handle DB access, to my knowledge the broadest DB type providers are either

* [EDMX type provider](
https://msdn.microsoft.com/en-gb/library/hh362313.aspx) which will basically support anything Entity framework supports. This works via code generation and thus does have issues on very large DBs

* [Sql Provider](http://www.github.com/fsprojects/Sqlprovider) whi

[2015-11-28 20:22] #892 closed

[2015-11-29 03:32] gdennie commented on #892
Forgot to write a thank you :)

[2015-11-29 23:17] ijoyce opened #893 "JsonProvider HTTP Headers"
I often need to pass in custom http headers to restful endpoints that return JSON. Such as:
[code]

I was thinking something along the lines of
[code]

Thoughts? Maybe this is already doable, but if not I'd be willing to submit a PR.

[2015-11-30 11:56] ovatsus commented on #893
You can use Http.RequestString to get the file, which supports all of that, and then feed it to JsonProvider

[2015-12-02 23:35] CumpsD commented on #57
@ckpearson this seems to be the place to grab it: https://github.com/fsharp/FSharp.Data/tree/XsdProvider

I'm looking forward to this too, now I'm trying to come up with XML examples to feed the TP to cover all properties I need to write out other XML, would be nicer to define it in xsd

[2015-12-03 08:47] giacomociti commented on #57
@CumpsD you may check out  [my advice](https://github.com/fsharp/FSharp.Data/issues/890#issuecomment-159741792) to create samples automatically. Looking forward to the XsdProvider we haven't heard from @runefs for a while. I hope there is some workaround to make it work on mono.

[2015-12-03 20:40] CumpsD commented on #57
@giacomociti thanks for the advice!

[2015-12-04 14:49] #879 closed

[2015-12-09 18:43] runefs commented on #57
I've spent some time on the XsdProvider again however after fetching the
latest from the master I have some unexplained problems compiling the
JsonProvider test cases, which is where I'm stuck for now. Due to this I
haven't gotten to a state where I've completed all unit test. However some
of the bugs from previous versions are now fixed. So I'll see if I can
figure out why the compiler complains

[2015-12-13 11:50] sorrentmutie opened #895 "HtmlProvider"
Good Morning!
I have a question about the HTMLProvider type .
It's not clear to me how the member Lists and Tables can be used. In the interactive session, Tables give me a list of all the tables found in the loaded page. But, what if I don't know which table I'm interested in and I just want to loop over each table in the page?

Salvatore

[2015-12-15 08:57] runefs commented on #57
I'm currently stuck with this error message

"....FSharp.Data.Tests/JsonProvider.fs(22,22): Error FS1109: A reference to
the type 'FSharp.Data.JsonProvider,Sample=" [ {\"a\":12.3}, {\"a\":1.23,
\"b\":1999.0} ] ",SampleIsList="True"' in assembly 'FSharp.Data' was found,
but the type could not be found in that assembly (FS1109)
(FSharp.Data.Tests)"

Since I haven't changed anything (willingly at lea

[2015-12-19 04:44] smoothdeveloper opened #897 "The typeXmlProvider<...>.Xml1is not compatible with the type 'Xml1' within a DU"
When I try to use the provided type in a DU, I can't instanciate members of the DU

[code]

`The type `XmlProvider<...>.Xml1` is not compatible with the type 'Xml1'`

![image](https://cloud.githubusercontent.com/assets/87944/11911329/cc982e22-a5c7-11e5-9cae-0d321bc7bc67.png)

[2015-12-21 09:41] v-zubritsky opened #899 "Reference order issue for library which depends on FSharp.Data"
Got dlls reference order issue, while consuming library, which depend on `FSharp.Data`, from `fsx` scipt in interactive mode.

I have a library, which depends on `FSharp.Data` and exports `JsonProvider` generated type from its api. Then, while trying to use that library from interactive script, I get error `FS0074: The type referenced through 'FSharp.Data.JsonProvider,Sample="{\"reference\": \"FSh

[2015-12-21 10:44] ovatsus commented on #899
I think this might be by design with assemblies with erased TPs
/cc @dsyme

[2015-12-21 10:46] ovatsus commented on #897
This might be a compiler bug
/cc @dsyme

[2015-12-21 10:47] ovatsus commented on #895
For that doesn't use the TypeProvider, instead use the HTML parser directly: http://fsharp.github.io/FSharp.Data/library/HtmlParser.html

[2015-12-21 10:47] #895 closed

[2015-12-21 10:48] ovatsus commented on #893
The sample can either be a url or a file, so it would be a bit weird to support headers directly as a TP static param. Given that's so easy to just get the file first, I'm closing this a by design

[2015-12-21 10:48] #893 closed

[2015-12-21 10:49] #891 closed

[2015-12-21 10:49] #889 closed

[2015-12-21 10:51] ovatsus commented on #887
Can you try this with 2.3 beta? The new type loader code from @dsyme might have fixed this

[2015-12-21 10:54] ovatsus commented on #871
This might be the same as https://github.com/fsharp/FSharp.Data/issues/891

[2015-12-21 10:55] ovatsus commented on #891
Marked as duplicate, a pull request to add an encoding optional parameter would be welcomed

[2015-12-21 10:56] ovatsus commented on #869
What solution do you propose?

[2015-12-21 10:56] #867 closed

[2015-12-21 10:58] ovatsus commented on #864
Hi @mrange, are you still interested in doing this?

[2015-12-21 11:04] xkrt commented on #869
Honestly, I dont know. I think this issue is rare and can be closed before really good idea appears.

[2015-12-21 11:52] #869 closed

[2015-12-22 05:58] smoothdeveloper opened #900 "CsvProvider capitalizes first letter of column names."
It seems https://github.com/fsharp/FSharp.Data/commit/f91917914cf40d2d41dad4ba2831d6ce812b0142 changes the property names on CsvProvider types to start with a capitlized first letter.

It seems to break code where the csv file has lowercased names.

Is there an option to change this behaviour when instanciating the provider?

If we insist on normalizing names (JsonProvider does that I think), then

[2015-12-26 18:32] taylorwood opened #901 "Cookies with "http://"-prefixed domains cause exception"
I've been using the `Http.Request` methods to hit various sites, and I've run into some edge cases where a site includes the protocol on the domain in a cookie: `domain=http://site.com`. This causes `System.Net.Cookie` to throw `The 'Domain'='http://site.com' part of the cookie is invalid.` Browsers accept these (invalid?) cookies without issue.

I saw there's already a function for parsing multip

[2015-12-28 00:58] #901 closed

[2015-12-29 23:57] tpetricek commented on #897
I think the value returned by `Parse` is not of type `Xml1` but of type `Xml1.Root`. Would this work:

    type XmlFile =
      | Xml1File of Xml1.Root
      | Xml2File of Xml2.Root

? or am I missing something?

[2015-12-29 23:59] tpetricek commented on #899
The F# Data Toolbox Twitter has the same issue. That's why it comes with a huge warning box: http://fsprojects.github.io/FSharp.Data.Toolbox/TwitterProvider.html

I think it is sort-of-by-design, but it would be nice to see this fixed.

[2015-12-30 00:39] smoothdeveloper commented on #897
@tpetricek, thanks

[code]

Fixes it.

If something can be done in compiler to get qualified type names in the error message, I think that would help to figure those issues out.

[2015-12-30 00:55] #897 closed

[2015-12-30 00:55] tpetricek commented on #897
Yeah, if the compiler kept the aliases, that would be nice :)

[2015-12-30 17:38] 0x53A commented on #887
Updating the nuget changed nothing, BUT:

Without even updating the nuget, running it in VS 2015.1 now fails early with an exception:

Test Name:	runTestInAppDomain
Test FullName:	XXX+FSharpTests.runTestInAppDomain
Test Source:	C:\Users\lr\Downloads\AppDomainTest\AppDomainTest\Program.fs : line 34
Test Outcome:	Failed
Test Duration:	0:00:01.4045367

Result StackTrace:
at FSharp.Data.Runtime.XmlRun

[2016-01-05 12:30] zbilbo opened #904 "getAllCookies error (src/Net/Http.fs)"
If doing the following:

let m3u8 =
 Http.RequestString("http://nordond18b-f.akamaihd.net/i/wo/open/62/62b268f9ba1c8de6842dcba213678f17be286115/d254b306-d47d-4330-9a0b-a4f8ee14edeb_,64,192,.mp4.csmil/master.m3u8",
                    silentHttpErrors = true,
                    cookieContainer = cc,
                    httpMethod= "GET")

the returned results (headers):
HTTP/1.1 200 OK
Server: Aka

[2016-01-05 21:16] blumu commented on #677
Jet.com has released sources for a related project: https://github.com/jet/JsonSchemaProvider

[2016-01-07 09:02] jruizaranguren commented on #677
@blumu, it depends on Json.Net and it just conforms to JSON-Schema v3 (deprecated). Newtonsoft released a [JsonSchema library](http://www.newtonsoft.com/jsonschema), but it has license restrictions.

[2016-01-25 14:37] avjgit commented on #39
Link to mentioned specific YQL item - https://github.com/fsprojects/FSharp.Data.Toolbox/issues/10

[2016-01-27 18:22] jon49 opened #906 "XmlProvider doesn't recognize its own types"
You can see a full example [on stackoverflow](http://stackoverflow.com/questions/35026059/xml-type-provider-create-new-xml-object-fails).

You can see that when I create a new `Doc` with its own types it returns a blank doc `< /doc>`. But when I recreate the whole structure anew it creates it correctly.

[code]

Here's the resulting output:

[code]

[2016-01-28 23:21] brianary opened #907 "ProviderImplementation.JsonProvider NRE when referencing FSharp.Data"
With only this script file:

    #r "packages/FSharp.Data/lib/net40/FSharp.Data.dll"

I get:

    error FS3053: The type provider 'ProviderImplementation.JsonProvider' reported an error: The type provider constructor has thrown an exception: Object reference not set to an instance of an object.

[2016-01-28 23:58] brianary commented on #907
(Tried without proxy, still having the issue.)

When I Alt+Enter that reference line in Visual Studio the first time, I get the error. Subsequent times succeed, until I "Reset Interactive Session". fsi.exe fails every time.

[2016-01-31 21:18] brianary commented on #907
I've submitted a pull request that fixes this issue.

[2016-02-09 17:29] dsyme opened #909 "Replace CommonProviderImplementation with updated TP SDK"
The Type Provider SDK (starter pack) has been updated:

    https://github.com/fsprojects/FSharp.TypeProviders.StarterPack/pull/78

FSharp.Data can now be updated to use this.

[2016-02-09 17:32] dsyme opened #910 "Failing test in CI"
This test is failing in CI on both Mono and Windows

    FSharp.Data.Tests.HttpIntegrationTests.cookies with protocol-prefixed domains should be handled

[2016-02-09 18:11] dsyme commented on #899
This should be considered a bug in F#, please add to http://github.com/Microsoft/visualfsharp.  We may need another phase of assembly loading....

[2016-02-10 02:24] #910 closed

[2016-02-14 19:16] #907 closed

[2016-02-19 14:55] franssu commented on #844
I was trying to reference bin/Debug/FSharp.Data.dll from a .fsx, got the same error. So I referenced it from the Nuget package, i.e. "../packages/FSharp.Data.2.2.5/lib/net40/FSharp.Data.dll" in my case, and the error's gone (because this directory contains FSharp.Data.DesignTime.dll)

[2016-02-21 20:30] swlaschin opened #913 "CSV Type Provider causes F# compiler to fail with an "FS0192 impossible" compiler error"
I have a reproducible bug that causes the F# compiler to fail with an "FS0192 impossible" compiler error somewhere in the XmlDocWriter logic.

It only occurs in relation to the CSV Type Provider, so I'm going to assume that the TP is generating bad code somehow. If not, I'll escalate this issue to the main F# compiler project.

The code to reproduce is available here (https://github.com/swlaschin/

[2016-02-24 16:33] panesofglass commented on #913
I just tripped this, too. :)

[2016-02-24 17:49] swlaschin commented on #913
Good! It's reproducible then!  Ross suggested that it should escalated to the compiler project, as even a buggy TP shouldn't cause an internal error. So I'll do that later...

[2016-02-25 23:00] jon49 opened #914 "Add Support For Copy-and-Update Record Expressions"
Currently the whole tree of the JSON must be updated when editing JSON items. It would be nice to be only update a single portion of a JSON value. `larry` shows the current way it must be created. `george` shows a proposed partial update way of updating a jsonprovider record.

[code]

This issue is raised due to my own desire and by suggestion of comment two in [this answer on StackOverflow](http:

[2016-02-26 01:22] tpetricek commented on #914
Type providers cannot currently provide F# records, so we won't be able to get it to work with the `with` syntax.

I don't think there is any really good solution for this in F# currently, to be honest. I would like to be able to write something like:

    let george = { john with FullName.FirstName = "George" }

But that would require (1) type providers that can provide records and (2) extension

[2016-03-04 20:43] OverlyExcessive opened #916 "Parsing of null-valued properties represented as empty strings."
I've noticed a quite strange behaviour which has given me some issues when working with the Reddit API.

The problem comes from working with JSON objects that represent "null-valued" properties as empty strings. See example below.
[code]

Given the object below the ```JsonProvider```will generate a type where the first two properties are of type ```string```and the third property will be of type `

[2016-03-10 16:22] brianary commented on #907
Any idea when this will trickle down through NuGet and eventually FsLab? The newest prerelease version on nuget.org, 2.3.0-beta2, still has this issue.

[2016-03-10 19:11] ovatsus commented on #907
I'll try to do a release this week

[2016-03-13 13:46] ovatsus commented on #909
I was trying to update it, but it seems DebugProvidedTypes.fs is no longer available in StarterPack

[2016-03-14 19:51] jon49 commented on #914
I think I was trying to use this tool incorrectly. I was trying to use it as a shortcut for creating a Json-Schema type. Now, that I understand the use case for JsonProviders and its limitations I don't know if this will still be hurdle in the future or not. So, it would be nice to have but it appears that it is currently not possible.

Thanks for responding.

tpetriceck, Yes, it would be nice to

[2016-03-14 19:51] #914 closed

[2016-03-18 11:00] haraldsteinlechner opened #918 "AssemblyReader fails to parse assembly attributes when using [<ReflectedDefinition>]"
Paket uses AssemblyReader.fs for reading assembly level attributes.
The thing now is: when using reflected definition in any assembly which paket tries to analyze, we get broken AssemblyNames while parsing the assembly attribute types:
-> i.e. ILAssemblyRef.FromAssemblyName(System.Reflection.AssemblyName(scope)) fails

as we found out this is due to unsaturated generic types, as used by the f# com

[2016-03-18 17:54] haraldsteinlechner commented on #918
i just added a fsx file demonstrating the issue in my fork (different branch): https://github.com/haraldsteinlechner/FSharp.Data/blob/Assembly_reader_testCase/AssemblyReaderTestSetup/Test.fsx

this is almost a unit test, showing the problem. shall we synthesize such a test case or is this setup sufficient?

[2016-03-22 21:24] scrwtp commented on #802
I've set up a PR after this issue cropped up on SO yesterday.

[2016-03-23 00:22] WilliamBerryiii opened #921 "Broken link on the JsonAnonymizer page"
The first link on the ghpage for the JsonAnonymizer is supposed to point to a json parsing tutorial that does not seem to be available anymore.
Referring page:
https://fsharp.github.io/FSharp.Data/tutorials/JsonAnonymizer.html

Target page:
https://fsharp.github.io/FSharp.Data/tutorials/JsonValue.html

[2016-03-23 15:42] Kazark commented on #57
:+1:

[2016-03-23 15:56] pavelhritonenko opened #923 "CsvProvider memory leak"
I have to parse long csv-file (~2Gb).
I've written simple script which iterates over the `Rows` and prints every 10000th element.
I expect it would consume constant memory but I have `OutOfMemoryException`.

I'm parsing ip2location database:

    #r "../../packages/FSharp.Data/lib/net40/FSharp.Data.dll"

    open System
    open FSharp.Data

    type Ips = CsvProvider<"./samples/db14.csv", HasHead

[2016-03-23 16:02] pavelhritonenko commented on #923
Oh... I missed the `CacheRows = true` argument

[2016-03-23 16:02] #923 closed

[2016-03-24 09:48] Bomret opened #924 "Assembly reference "System.Numerics.dll" was not found or is invalid"
I've just tried the JsonProvider sample and got the error message shown in the attached screenshot. Any ideas?

![jsonprovider_broken](https://cloud.githubusercontent.com/assets/246014/14013663/f86add56-f1ad-11e5-9d35-cda2db40c660.jpg)

Edit: Fixing the 'sample <> Sample' discrepancy does not help.

My machine:
Windows 7 Pro
.net 4.6.1
Visual Studio 2015 Update 1
F# 3.1.2 and 4.0 are installed.

[2016-03-26 13:53] isaacabraham opened #925 "Multi threading issue for HTTP Type Provider?"
I'm seeing occasional issues with the HTML Type Provider when performing multiple calls to `Load()` in parallel e.g. https://github.com/isaacabraham/fsharp-demonstrator/blob/master/src/FootballLibrary/LeagueTable.fs.

I believe that the error I see is a key not present error - as with most multi threading issues, it's not deterministic and difficult to replicate. If I get a repro and exception tra

[2016-03-26 13:58] isaacabraham commented on #925
BTW you can (try to) repro it in that repo linked above in ```FootballLibrary/Scripts/Scratchpad.fsx``` line 28.

[2016-03-29 16:07] AtwooTM commented on #904
I believe I found another example of issue 904 when attempting to scrape stock dividend data from web pages using F# and the FSharp.Data library. An example page can be seen at http://www.nasdaq.com/symbol/ibm/dividend-history.

To request the web page, my code is setup as a simple console app as an example and is as follows:

`open FSharp.Data

[<EntryPoint>]
let main argv =
    let url = "http:/

[2016-03-31 05:46] jskulavik opened #926 "Http Utility does not load via #r"
The Http utility does not load from current repos.  I receive the error that System.Net.CookieContainer is defined in an assembly that is not referenced, but I've referenced System.Net.

Here's my script code:

#r ".\packages\FSharp.Data\lib\portable-net40+sl5+wp8+win8\FSharp.Data.dll"
#r ".\packages\ExcelProvider\lib\ExcelProvider.dll"

open FSharp.Data
open FSharp.ExcelProvider
open System.Net

[2016-04-05 02:19] jskulavik commented on #926
After doing a bit of trial and error, I've found that this only occurs when using Paket to load FSharp.Data.  I'm not sure where to go next to identify the issue, Paket or here.  Any idea @ovatsus or @tpetricek?

[2016-04-05 11:08] tpetricek commented on #926
Does it work if you use `FSharp.Data.dll` from "net40" version instead? (rather than the portable one?)

[2016-04-06 04:20] jskulavik commented on #926
With "net40" I get "not a valid assembly" which is very puzzling.

[2016-04-06 09:46] ngm commented on #782
`nunit-console.exe` doesn't seem to honour the `/framework` setting (or it's for a different purpose).

Including the following in `nunit-console.exe.config` will enable it to run on a machine without .NET 3.5.

[code]

Presently I just have a template `nunit-console.exe.config` that I copy over the one included in the package, prior to running the tests.

[2016-04-06 10:25] tpetricek commented on #926
Hmm, that is odd. What version of F# on what kind of OS/.Net/mono are you using?

[2016-04-07 02:29] jskulavik commented on #926
I'm on 4.1, Windows 10, .NET 4.0.  I was able to get it running in fsi while ignoring the warnings, so I guess I'll close this issue and just live with the warnings.  Thanks for the help @tpetricek, sorry raising an unproductive issue

[2016-04-07 02:30] #926 closed

[2016-04-07 09:23] #921 closed

[2016-04-17 09:43] CodEFouR commented on #591
So how did you work around this before VS could fix it? In the meantime, is it possible to rename the namespace to something like FsLab.FSharp.Code? By adding this prefix people won't be confused that this is a 3rd party library.

[2016-04-19 19:49] drcrook1 opened #927 "Type Providers should Handle Missing Values by Default"
This is just a nice to have, not immediate, but would just generally be nice to have.

type m311C = CsvProvider<"C:\data\Miami_311.csv">
let m311 = m311C.Load("C:\data\Miami_311.csv")

m311.Rows |> Seq.length

crashes, then you have to go do this:

type m311C = CsvProvider<"C:\\data\\Miami_311.csv",
                            AssumeMissingValues=true>
let m311 = m311C.Load("C:\\data\\Miami_311.cs

[2016-04-19 19:58] drcrook1 opened #928 "Rename Variables returned by type provider"
Often times data sources are dirty.  I have some which have variables literally: "District ./. Ward ./. City ./. etc..."  Wow is that terrible, if I could reset that, that would be nice.

I'm not seeing anything in docs on how to do this.

[2016-04-19 20:47] tpetricek commented on #927
Can you share the data? It should not crash - the idea is that if your sample contains missing values, the CSV provider will infer column type as e.g. `option<int>`, but if the sample does _not_ contain missing values, then we can give you e.g. `int` directly...

[2016-04-19 20:48] tpetricek commented on #928
I think you can do this using the `Schema` parameter. The following sample is in the docs:

    let titanic1 = CsvProvider<"../data/Titanic.csv", Schema=",,Passenger Class,,,float">.GetSample()
    for row in titanic1.Rows do
      printfn "%s Class = %d Fare = %g" row.Name row.``Passenger Class`` row.Fare

[2016-04-19 20:48] #928 closed

[2016-04-19 20:48] drcrook1 commented on #927
Using miami service requests data found here: https://opendata.miamidade.gov/311/311-Service-Requests-Miami-Dade-County/dj6j-qg5t

[2016-04-19 20:50] drcrook1 commented on #928
interesting.  Where did you grab the titanic data set?  I am assuming there are a lot of ignored columns here, but what does the float at the end do?

[2016-04-19 21:00] tpetricek commented on #928
The titanic file is here: https://github.com/fsharp/FSharp.Data/blob/master/docs/content/data/Titanic.csv

The format of `Schema` is a bit ambiguous, but `float` defines the type. See "Controlling the column types" section in the docs: http://fsharp.github.io/FSharp.Data/library/CsvProvider.html

[2016-04-19 21:03] drcrook1 commented on #928
You know what might be kinda cool
type blah = CsvProvider<"file"> |> CsvProvider.RenameColumns<,,,,,,> |> CsvProvider.SetTypes<,,,,,,>

that would allow me to do it later too, and not only at the beginning.

[2016-04-25 16:54] tpetricek commented on #918
I'm closing this here, because it is a StarterPack issue.

[2016-04-25 16:54] #918 closed

[2016-04-25 16:56] tpetricek commented on #899
Closing this issue here.

[2016-04-25 16:56] #899 closed

[2016-04-25 17:11] tpetricek commented on #904
I can confirm this is a bug in our handling of cookies - thanks for reporting it. We'll fix this in the next version.

[2016-04-25 17:59] tpetricek commented on #904
Actually, this seems to be tricky. The cookie string we get is:

    selectedsymboltype=IBM,COMMON STOCK,NYSE; domain=.nasdaq.com; expires=Tue, 25-Apr-2017 17:53:10 GMT

... which is wrong, because cookies should not contain `,` - our handling (see https://github.com/fsharp/FSharp.Data/issues/659) does not quite deal with that though.

[2016-04-26 16:44] brianary commented on #907
Still hoping to see the fix come through the NuGet ecosystem.

[2016-04-26 18:41] tpetricek commented on #907
@brianary Can you please send the PR to the F# TP Starter Pack? I commented in the other issue - we need to get it from there. I should then be able to propagate this pretty soon :)

[2016-04-27 13:58] dsyme commented on #918
@haraldsteinlechner I think the fix looks in the right zone - can you send a complete PR to http://github.com/fsprojects/FSharp.TypeProviders.StarterPack repository please?  If you could simultaneously send a PR to paket with an appropriate test case that would be great.

[2016-04-27 14:52] haraldsteinlechner commented on #918
@dsyme PR submitted, see: https://github.com/fsprojects/FSharp.TypeProviders.StarterPack/pull/94

regarding paket: i allready submitted a test case and PR etc. as temporary solution we now reference my fork of fsharp.data in paket.
seealso: https://github.com/fsprojects/Paket/issues/1601

[2016-04-27 15:17] tpetricek commented on #918
Ah, thanks a lot for the clarification :). I'll let @dsyme review this, because he actually understands the code!

[2016-04-27 17:36] brianary commented on #907
I can't find usage of WebRequest.DefaultWebProxy in https://github.com/fsprojects/FSharp.TypeProviders.StarterPack/ .

Which other issue did you comment on?

Sorry, I feel like I've missed something.

[2016-04-27 18:05] tpetricek commented on #907
Sorry, I got my issues confused :) please ignore this.

[2016-04-30 06:57] petarvucetin opened #934 "CsvProvider - Error: Attempted to access an element as a type incompatible with the array."
I have a very simple file that is failing to load. The only way to make it work is to add another column.

val it : CsvProvider<...> =
  FSharp.Data.Runtime.CsvFile`1[System.Tuple`1[System.String]]
    {Headers = Some [|"Tag"|];
     NumberOfColumns = 1;
     Quote = '"';
     Rows = Error: Attempted to access an element as a type incompatible with the array.;
     Separators = ",";}

[dummy.zip](

[2016-05-01 14:08] ovatsus commented on #924
You have to add #r "System.Numerics.dll"

[2016-05-01 14:08] #924 closed

[2016-05-01 14:08] #909 closed

[2016-05-01 14:48] tpetricek commented on #934
I tried to load the file using `CsvProvider` and did not get any error. Here is what I tried (in a script file):

    #r "packages/FSharp.Data/lib/net40/FSharp.Data.dll"
    open FSharp.Data

    type C = CsvProvider<"C:/temp/dummy.csv">
    for r in C.GetSample().Rows do
      printfn "%s" r.Tag

Could you share your F# code? Perhaps I'm using it differently than you are...

One possible reason f

[2016-05-01 15:14] ovatsus commented on #851
Failing again on current master:

![image](https://cloud.githubusercontent.com/assets/738761/14942544/cd8754c0-0fb7-11e6-8448-acdf48597f2d.png)

[2016-05-01 15:15] ovatsus opened #935 "Warnings while generating docs"
FSharp.Formatting Error: 0 : Error while building member-name for FSharp.Data.CsvRow because: the type '[]`1' does not have a qualified name
    FSharp.Formatting Error: 0 : Error while building member-name for FSharp.Data.HtmlDocumentExtensions.Descendants because: not a named type
    FSharp.Formatting Error: 0 : Error while building member-name for FSharp.Data.HtmlDocumentExtensions.Descendants

[2016-05-01 16:13] ovatsus commented on #935
@tpetricek are these issues on Fsharp.Formatting or on the FSharp.Data comments?

[2016-05-01 16:16] ovatsus commented on #698
/cc @tpetricek

[2016-05-01 16:19] ovatsus commented on #925
The link to that files no longer works

[2016-05-01 16:21] ovatsus commented on #887
Closing as the issue is not with F# Data itself

[2016-05-01 16:21] #887 closed

[2016-05-01 16:24] ovatsus commented on #927
See http://fsharp.github.io/FSharp.Data/reference/fsharp-data-csvprovider.html, by default CsvProvider only looks at first 1000 rows for inference, so if the first missing value is on a row after that, it will not detect it, and that's why we have that AssumeMissingValues param. That CSV file is very big, so that's probably what's happening. However, I don't think we should make that the default:

[2016-05-01 16:24] #927 closed

[2016-05-01 16:43] tpetricek commented on #935
I think this is F# Formatting issue. Closing here. /cc @matthid

[2016-05-01 16:43] #935 closed

[2016-05-01 17:43] isaacabraham commented on #925
Ooops. I'll give you another repro tomorrow.

[2016-05-01 17:44] #916 closed

[2016-05-01 19:19] ovatsus commented on #874
Can you try if this is better with 2.3.0 which was released today? There was a bunch of changes in the assembly loader, including a memory leek which was fixed

[2016-05-02 10:51] #861 closed

[2016-05-02 16:51] ovatsus commented on #811
@tonyj444, still interested in sending a PR for this?

[2016-05-02 17:38] ovatsus commented on #906
Sorry for the delay, I just sent a PR to fix this

[2016-05-02 17:45] ovatsus commented on #913
Still repros on latest master, though I don't see how we could be doing something wrong in the F#Data code.
Can you create a bug on the FSC or StarterType repos?

[2016-05-02 17:45] #913 closed

[2016-05-02 17:46] #906 closed

[2016-05-02 19:56] swlaschin commented on #913
Moved issue to FSC https://github.com/Microsoft/visualfsharp/issues/1143. Thanks!

[2016-05-02 20:05] et1975 opened #940 "Stream response API"
Just starting to look at using the Http API and have several concerns/questions:
- Does not [copying of the stream](https://github.com/fsharp/FSharp.Data/blob/f815de5e8108bb7de25dde75135707719afd8e09/src/Net/Http.fs#L878) defeat the purpose of streaming?
- Does not [returning a stream](https://github.com/fsharp/FSharp.Data/blob/f815de5e8108bb7de25dde75135707719afd8e09/src/Net/Http.fs#L885) leave m

[2016-05-02 22:17] ovatsus commented on #940
That stream needs to be always read to be decompressed, we used to do it more lazily but it caused a bunch of problems. These are supposed to be simple helpers for simplifying doing http calls, when you need more flexibility you should use the underlying libs instead.
You also don't need to cleanup because it's a memory stream, that's one of the reasons it's copied

[2016-05-03 02:28] #940 closed

[2016-05-04 06:40] isaacabraham commented on #925
@ovatsus the file was moved a few weeks ago, it's now: https://github.com/isaacabraham/fsharp-demonstrator/blob/master/src/FootballLibrary/footballLeague/LeagueTable.fs. The script shouldn't have changed since then in terms of content really: https://github.com/isaacabraham/fsharp-demonstrator/blob/master/src/FootballLibrary/Scripts/Scratchpad.fsx.

[2016-05-04 18:52] drcrook1 opened #941 "Profile 7 support"
Hey All,

I'm attempting to use FSharp.Data from a profile 7 PCL, however I am hitting roadblocks just in the .fsx.  System.Globalization.CultureInfo, System.IO etc are not referenced (and its a PCL, so I'm pretty sure thats intentional).

I'm wondering if there is a chance these things can be rectified, or what the thought is here?

[2016-05-04 19:27] ovatsus commented on #941
on the .fsx you always have to reference the full .net version, the PCLs only work when you compile in a project

[2016-05-04 19:32] drcrook1 commented on #941
Got an example of correct referencing?  Not sure I follow.  Also check out the csv provider in version 2.3.0.  I was running into issues and jumping back to v 2.2.5 seems to resolve the issue.  Something about the IEnumerable and Generics and a library not being referenced properly.

[2016-05-04 21:56] ovatsus commented on #941
/cc @dsyme, can you detail those issues with the generics?

[2016-05-06 09:58] matthid commented on #935
This has something to do with fcs throwing exceptions when accessing some `Name` for `FullName` properties... I don't have enough insight to know why it throws or how we could check that beforehand. The full details are written to the log (https://github.com/tpetricek/FSharp.Formatting/blob/f4a3119dc8060704402622bf701a2618cdfc5bf5/src/FSharp.MetadataFormat/Main.fs#L801) if somebody want's to tackl

[2016-05-12 10:06] NickLydon opened #942 "CsvProvider - possible to retrieve exception when row fails to parse?"
If a row in a csv file contains invalid data, but I still want to process the rest of the file, is it possible to do this and get the exception for the erroneous row?

I've supplied `IgnoreErrors=true`, but I believe this swallows the exception...

[2016-05-14 14:56] ovatsus opened #943 ".NET Core Support"

[2016-05-18 19:18] isaacabraham opened #944 "HTML Type Provider - breaking change / behaviour?"
Upgrading from FSharp.Data 2.2.5 to 2.3.x has caused my app to stop compiling.

``https://uk.sports.yahoo.com/football/premier-league/fixtures/?month=12&season=2015&year=2015``

This URL rendered correctly before with headers ``Home``, ``Away`` and ``Score`` (along with two others). Now they are rendered with different completely names.

[2016-05-21 04:09] AtwooTM commented on #904
Hi @tpetricek, any thoughts on the above issue with the Nasdaq dividend data?  Completely understand if you would not want to handle commas in cookies as they should not contain commas.

[2016-05-21 15:09] ovatsus commented on #944
Can you post a snippet that used to compiler and no longer does?

[2016-05-21 15:10] ovatsus commented on #942
How would that look in terms of API?

[2016-05-21 15:11] #934 closed

[2016-05-21 15:14] ovatsus commented on #864
/cc @ptrelford

[2016-05-21 15:20] tpetricek commented on #904
Our handling of this is pretty ad-hoc at the moment. I think there is definitely room for improvement - it should be possible to write a parsing algorithm that handles with the above (e.g. by allowing commas before the first `;`).

If you want to prototype a parser that would handle our current test cases + the above, that would be great - and I think we'd be very happy to merge it.

[2016-05-21 15:37] ovatsus commented on #904
.Net itself won't handle these kind of cookies correctly, we have our own parsing to workaround a similar issue found on the coursera website, I can extend it to also cover this case.
Ideally we would need a proper parser, but I don't have time to do it now, so will wait for someone else to send a PR with that

[2016-05-21 17:18] #904 closed

[2016-05-24 13:26] NickLydon commented on #942
I was just wondering if it was possible with the existing API, like subscribing to an event raised for on exception for instance.

If it isn't at the moment, perhaps there could be an exception property on the row object. Or the row itself could be a union type of a successfully parsed row or an exception.

[2016-06-01 20:16] adamklein opened #946 "why RegexOptions.RightToLeft?"
If we have a schema

    "Na(  )me (type)"

This is parsed correctly without RightToLeft, but when RightToLeft is used, it is not, ie the Name is "Na" and the type is "  )me (type".

This is problematic for us b/c we have column names with parentheses ...

[2016-06-06 08:21] object opened #947 "Disposable objects are not disposed by Http module"
We used JSON type provider with its methods that perform HTTP GET and POST request via Http module. In our scenario JSON type provider was used in actors (from AKka.NET) that were frequently created and terminated. Our application's memory consumption rapidly grew and eventually it failed during large memory and thread resource pool usage.

As a workaround we rewrote the code that used JSON type p

[2016-06-06 08:51] tpetricek commented on #947
Thanks for digging into this! If you can send a PR that adds correct object disposal into the right places, that would be fantastic.

[2016-06-06 10:52] object commented on #947
I will investigate this more to identify what exactly needs to be done and hopefully come back with a PR.

[2016-06-11 01:40] rmunn opened #948 "XmlProvider docs should include an example of using Load or AsyncLoad"
While the type provider documentation does mention the `Load` and `AsyncLoad` methods, and the JSON, HTML and CSV type provider docs have at least one code sample demonstrating them, the XmlProvider documentation has no code samples showing off the `Load` method. In fact, it is only mentioned in a single sentence:

When I was first playing around with XmlProvider, I missed that sentence completely

[2016-06-12 20:52] fbehrens opened #949 "Update documentation for CssSelect"
This is documented in http://fsharp.github.io/FSharp.Data/library/HtmlCssSelectors.html
[code]
but doesn't work in `2.3`
`Error:39 The field, constructor or member 'CssSelect' is not defined`

[2016-06-16 18:37] jamessdixon opened #951 "CSV Provider - Out Of Memory Exception"
I am trying to use the csv provider to access the train.csv dataset found [here](https://www.kaggle.com/c/grupo-bimbo-inventory-demand/data)

I am running a Win10 machine with 8 cores and 16GB RAM and 50 GB free on the local drive.  The file itself is 3.1 GB.

I am getting an OOM exception

Is there any way to use the TP for this datasets?

[2016-06-16 19:16] jamessdixon commented on #951
Reed helped me understand it better (by telling me to look at the documentation)
InferRows=100 works

Thanks

[2016-06-16 19:16] #951 closed

[2016-06-17 09:14] Chicker opened #952 "[CSV Type provider] The strange error when defining very long Schema parameter"
### Description

I have csv file with 16 columns. Because header (first row) is missing I am using `Schema` static paramater for naming columns. Since the number of columns is large enough, to improve readability of the code I am using line breaks when setting the parameter `Schema`. As result the CSV type provider shows the error **"The input sequence contains more than one element"**
### Repro s

[2016-06-17 09:18] Chicker commented on #952
I may try to fix this problem and make PR.

[2016-06-18 16:03] Chicker opened #953 "[CSV Type provider] When path to csv file is wrong, type provider shows strange errors."
### Description

I'm using CSV type provider with `Schema` parameter.

If I accidentally will write the wrong path to my csv file, or the file itself is accidentally will be deleted, then instead of showing error that the file is not found, CSV type provider showing the strange error.
![csv_learn_fsx_ _zimport](https://cloud.githubusercontent.com/assets/516518/16172013/5dca243c-35a0-11e6-9423-0cda

[2016-06-19 12:13] ovatsus commented on #949
It's only available in 2.3.1

[2016-06-19 12:13] #949 closed

[2016-06-24 06:27] xenocons opened #954 "[Html] HtmlDocument.parse chokes on unicodes"
https://github.com/fsharp/FSharp.Data/blob/f815de5e8108bb7de25dde75135707719afd8e09/src/Html/HtmlCharRefs.fs#L2267

Leads to an System.OverflowException when a value is too large. Example: `System.Convert.ToChar(128516)` which comes from HTML `&#128516;`

[2016-06-24 08:29] cboudereau opened #955 "[Xml Provider] lost child when building xml"
When a common node is supplied into a seq of parent nodes. Only the first parent node has the node and the tail not.

Here is a script to repro the problem and the workaround : you can find the function assertXml to check if it is OK.

[code]

[2016-06-24 21:53] PiotrJustyna opened #956 "FSC: warning FS3005: Referenced assembly '...\packages\FSharp.Data.2.3.1\lib\net40\FSharp.Data.dll' has assembly level attribute 'Microsoft.FSharp.Core.CompilerServices.TypeProviderAssemblyAttribute' but no public type provider classes were found."
I must be doing something wrong, just not seeing what it is.
- Vanilla console project, builds and runs perfectly.

[code]
- Right-click `References -> ManageNuGet Packages`, install `FSharp.Data`. Package installs nicely.

[code]
- Build the project. Build fails with:

[code]

---

**Environment:**
- Visual Studio Enterprise 15 Preview 2
- Target f# runtimes tested:
  - 4.3.1.0
  - 4.3.0.0
- Targ

[2016-06-24 23:55] cboudereau commented on #956
Maybe configure nuget v3 with highest dep behavior
On Jun 24, 2016 11:53 PM, "Piotr Justyna" <notifications@github.com> wrote:

[2016-06-25 18:00] PiotrJustyna commented on #956
@cboudereau

Thank you for the suggestion, but unfortunately it didn't work.

[code]

I must be missing something.

[2016-07-01 16:47] dsyme commented on #453
Just to mention that I was using the GitHub API today, unauthenticated, and quickly hit the rate limitations of that API.   It would have been great if I could have very seamlessly switched to OAuth or Basic authentication - including for both design-time and compile-time web requests

[2016-07-01 16:49] dsyme commented on #453
Sample code that I wanted to convert to OAuth:
[code]

[2016-07-01 16:51] dsyme commented on #158
Just to mention that I was using the GitHub API today, unauthenticated, and quickly hit the rate limitations of that API. It would have been great if I could have very seamlessly switched to OAuth or Basic authentication - including for both design-time and compile-time web requests

It feels like a really important feature to add systematically to FSharp.Data, and it would make even much more pow

[2016-07-03 01:21] smoothdeveloper commented on #942
We could add an overload to Load + few supporting types, here is rough draft to get discussion going

[code]

What lacks from this IMHO is ability to obtain fields that were parsed successfully, maybe someone can chime-in with good idea for this or better proposal.

Another more robust optoin, would be to provide a `IDataReader` on which we have generated properties to access each column with corr

[2016-07-03 01:25] smoothdeveloper commented on #900
@ovatsus  / @tpetricek would you take a PR to handle different conventions:

[code]

or could you devise the API you'd see a PR

[2016-07-07 14:24] ejadib opened #959 "Question: Is there a way to use CsvInference in C#?"
I'm using CsvFile to load the CSV data but I couldn't find a way to use CsvInference to call InferColumnTypes. Is that possible?

[2016-07-07 17:21] tpetricek commented on #959
Using the inference directly is not a scenario we intend to support (and making that C# friendly is not on the top of the priority list at all), but it might be possible. Deedle calls the inference API directly (from F#): https://github.com/BlueMountainCapital/Deedle/blob/master/src/Deedle/FrameUtils.fs#L448

[2016-07-07 17:21] #959 closed

[2016-07-08 12:17] juicelink opened #960 "[ Net/Http ] error getting cookies from header response when the specified path is not valid"
i'm trying to request an url that contain this set-cookie header in the response
[code]

the back slash in the path breaks this line in the net /Http.fs file (795):
[code]

Should it be possible to make a an option, or new function to just get the content response and avoid all other possibilities of failure, for cases like this one where the source is not well formated?

[2016-07-08 19:15] #960 closed

[2016-07-11 15:07] julien-leclercq opened #962 "Build issue on mono 4"
Step to reproduce :

1/ try to build on mono 4 get this

[code]

after this i tried to install the referenceassemblies-pcl package (i am on ubuntu 14.04)
and then I get this errors

[code]

[2016-07-11 16:02] jschiefer commented on #962
Seeing the same thing, Ubuntu 14.04 also.
[code]

[2016-07-11 17:57] AmrTealeb opened #963 "Didn't find property 'pages' in {"message":[{"id":"120","key":"Parameter '"
**The code was working before but now i receive this error when using world bank data**

Result StackTrace:
at <StartupCode$FSharp-Data>.$JsonExtensions.GetProperty@33-1.Invoke(String message) in C:\Git\FSharp.Data\src\Json\JsonExtensions.fs:line 33
   at FSharp.Data.Runtime.WorldBank.Implementation.clo@79-10.Invoke(String[] _arg3) in C:\Git\FSharp.Data\src\WorldBank\WorldBankRuntime.fs:line 81

[2016-07-20 14:00] abhiranjankumar00 opened #965 "[CsvProvider] TextConversions.AsString Method not found exception"
Has anyone encountered the following error?
[code]

[Background] We have been using V1.1.10, then due to some requirement from teammates we planned to migrating to latest version (2.3.1). Though it's working fine in local, the provider throws the above exception if we upload the file via our web app. [Info: We use appharbor for our deployment, with FSharp compiler version 3.0, while it is 3.1 in l

[2016-07-20 14:21] smoothdeveloper commented on #965
@abhiranjankumar00 could you try to setup binding redirects in your app.config?

This is super easy to do if you use paket and the nuget package for FSharp.Core

[2016-07-24 14:36] #944 closed

[2016-07-24 14:38] ovatsus commented on #956
Check if you haven't inadvertently denied FSharp.Data.DesignTime.dll to execute the TP in your VS settings.

[2016-07-24 14:42] ovatsus commented on #946
TBH, I don't remember why RightToleft was used

[2016-07-24 14:44] ovatsus commented on #947
This was probably a relatively recent regressions, as at one point I spent quite a while fixing that before. Let us know what you have found

[2016-07-24 14:44] ovatsus commented on #948
Would you mind sending a PR with that documentation improvement?

[2016-07-24 15:09] ovatsus commented on #954
And of course, the solution doesn't work in one of the portable profiles :/

[2016-07-24 16:33] ovatsus commented on #954
Ok, turns out we already code in the JSON parser that reimplemented ConvertFromUTF32 which is missing in PCL 47, so reused it

[2016-07-24 17:10] ovatsus commented on #963
Can you post a snippet that reproes the bug?

[2016-07-24 17:14] #954 closed

[2016-07-24 17:22] ovatsus commented on #955
With what version did you test this? Just tested this repro on latest master and it works correctly. This could have been a dup of #906, which was fixed on 2.3.1-beta1

[2016-07-24 17:22] #955 closed

[2016-07-24 21:11] ovatsus commented on #965
Closing as no repro

[2016-07-24 21:11] #965 closed

[2016-07-24 21:11] ovatsus commented on #963
Closing as no repro. Please reopen if you get one

[2016-07-24 21:11] #963 closed

[2016-07-24 21:50] ovatsus commented on #941
Closing as no repro

[2016-07-24 21:50] #941 closed

[2016-07-25 06:14] isaacabraham commented on #944
Argh. Didn't see that comment of yours! Let me try and get you a repo today. If I don't reply then assume I couldn't.

[2016-07-25 07:30] abhiranjankumar00 commented on #965
Sorry for no reply. I was trying random methods to fix this.

- Upgraded fsc version to 3.1 (from 3.0).
- Used

Meanwhile we encountered similar error

[code]

BTW

[2016-07-25 07:39] isaacabraham commented on #944
OK. I'm looking at the URL from above and seeing some unusual output. I've even rolled back to 2.2.5 and still see a problem: -

[code]

From here, I can do a type alias as follows without a problem: -

[code]

[2016-07-25 07:43] abhiranjankumar00 commented on #965
Sorry for no reply. I was trying random methods to fix this.

- Upgraded fsc version to 3.1 from 3.0 (same version we are using in developement).
- Used FSharp.Data 2.3.1.
- Tried FSharp.Core 3.1.2.5/4.0.1.5.
- Few other minor fixes.

None of the above works. Meanwhile encountered another similar error.

[code]

Can anyone help me understand how _"method not found"_ category of exception peeped in

[2016-07-28 08:30] object commented on #947
I am not able to easily reproduce this issue in smaller piece of code, so I will need some time. It's also possible that it was false alarm, I will come back with more info.

[2016-07-28 18:13] abhiranjankumar00 commented on #965
Bump.

Another guy with similar problem: https://www.reddit.com/r/fsharp/comments/4uz9wp/csv_type_provider_in_visual_studio_2015/

cc @ovatsus @tpetricek

[2016-07-31 17:10] giacomociti commented on #57
I've been playing again with my implementation and released it as a separate [project](https://github.com/giacomociti/FSharp.Data.Xsd).

I just referenced most source code of `FSharp.Data`, added one file (XsdInference.fs) and slightly
modified XmlProvider.fs adding a `Schema` parameter.

Of course I just could have made a PR to `FSharp.Data`. But, first, we already have an ongoing attempt.
And I'

[2016-08-01 10:01] asd-and-Rizzo opened #970 "Use DateTimeOffset instead of DateTime"
FSharp.Data.JsonProvider creates type which accepts `DateTime`, but `-05:00` indicates that this is `DateTimeOffset`.
[code]

DateTimeOffset is DateTime with time diff to UTC. Allows to work with times from different time zones.

[2016-08-01 21:53] jkone27 opened #971 "CsvProvider: why tuples at runtime and not record types?"
Hello,
FSharp.Data is Awesome.

I'm quite fresh to f#. I have a few open questions.

regarding CsvTypeProvider, why is that we need to use tuples instead of records at runtime?

a record exposing the Schema information as its own type would be much more useful,
and wouldn't cause reflection mismatches between runtime and compile-time, i think,
though I know very little about it.

it's quite frustr

[2016-08-01 22:24] ovatsus commented on #971
I think tuples just map nicely to the domain type, and is very usefull as things still render nicely on FSI. The original sample on tryfsharp had it, but the first version of F# Data didn't, but then we eventually changed it to tuples as well. This was really designed to be used on top of sample data. If you're manually designing a schema, the provider may not be the best fit for you

[2016-08-02 07:59] jkone27 commented on #971
Thank you very mich for the Quick reply! I guess i'll tra some other solution. Have a nice day

[2016-08-02 07:59] #971 closed

[2016-08-03 01:31] kontomondo commented on #970
Doesn't the JsonProvider already support ISO8601 which is more or less the standard for JSON Dates and supports timezones?

[2016-08-03 22:10] galatrash opened #973 "Credentials embedded in the URL must be URL Decoded"
In the following code:

[code]

The `authParts.[0], authParts.[1]` must be url decoded to count for when either has an ambiguous character - such as `+` or `/`.

[2016-08-03 22:52] kontomondo commented on #487
@ovatsus what's the issue here?

[2016-08-03 23:11] kontomondo commented on #453
@ovatsus @dsyme Does `FSharp.Data` not support basic authentiation in the form of  `//<user>:<password>@<host>:<port>/<url-path>` (As per `RFC1738`)? If that's the case I could add it.

[2016-08-04 15:10] mrunks opened #974 "System.MissngMethodException for TryGetAttribute on HTML TypeProvider"
When trying to use the "TryGetAttribute" on an HtmlNode the following exception is thrown:

System.MissingMethodException was unhandled by user code
Message: An exception of type 'System.MissingMethodException' occurred in FSharp.Core.dll but was not handled in user code
Additional information: Method not found: 'Microsoft.FSharp.Core.FSharpOption`1<FSharp.Data.HtmlAttribute> FSharp.Data.HtmlNodeE

[2016-08-05 04:59] jaegerpicker commented on #962
I get the same error on a Mac.

Mono JIT compiler version 4.2.2 (Stable 4.2.2.30/996df3c Wed Feb 10 13:36:17 PST 2016)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           normal
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  amd64
	Disabled:      none
	Misc:          softdebug
	LLVM:          supported, not enabled.
	GC:

[2016-08-05 18:31] jschiefer commented on #962
I did a few experiments with Travis-CI, building with different versions of Mono. I started from the last commit that passed the CI on master(b26c1ca47705bb6800f2db5ff111f28678d7dfdd), and tried building with different versions of Mono by changing the version in .travis.yml (this builds on OSX BTW).

Results:
- 4.2.3 Pass
- 4.2.4 Pass
- 4.3.2 Fail
- 4.4.1 Fail

So it appears that this issue was in

[2016-08-08 18:26] Thorium opened #975 "Performance and memory consumption problems with XMLProvider"
I'm using XMLProvider and the files are local.
- After developing for 10 mins, my Visual Studio consumes over 2GB of memory.
- If I change the XML file content, the Visual Studio freezes totally.

[2016-08-08 20:15] ovatsus opened #977 "JsonParserProperties.Parsing stringified JsonValue returns the same JsonValue failing"
Fails on CI and locally when running through FAKE, but when running inside the VS test runner works fine

[2016-08-09 09:31] Thorium commented on #592
I would like the empty case to be parsed as None

[2016-08-09 09:47] Thorium commented on #874
#976 can help a little but still I'm bit worried that Visual Studio uses a lot of memory that is not released.

[2016-08-10 20:54] giacomociti commented on #975
I'm facing the same problem tweaking the XML provider to support xsd.
Schemas (instead of xml samples) get parsed again and again on every keystroke, making Visual Studio unusable when dealing with multiple big schemas.
Things get a lot better caching instances of `ProvidedTypeDefinition`.
I'm not completely happy with my [current solution](https://github.com/giacomociti/FSharp.Data.Xsd/commit/861

[2016-08-12 12:04] Grendizr opened #978 "CSVProvider.SaveToString() seems to fail if Row contain a null value"
Hi.

Just encountered an issue with CSVProvider.

I have a Stringify method that takes a collection of a C# type.

[code]

If one of the Mapping contains a [null] Code, the SaveToString() fails on a NullReferenceException

[2016-08-14 23:06] zpbappi commented on #970
I would like to start with this issue. Will submit a PR soon.

[2016-08-16 06:02] zpbappi commented on #978
@ovatsus some tests FSharp.Data.Tests/Http.fs are failing as they are assuming a string returned from a web request. it seems risky and it is broken already as the website decided to add `success` property in the json. In another PR (#980) I had to modify the tests to get around that issue. i tried to assert the same behavior from the modified test. i don't think it would be good idea to make the

[2016-08-17 11:15] ptrelford opened #982 "Http.Request fails with "part of the cookie is invalid" on Google News feed"
When I try to querying Google news:

[code]

I see the following error:

[code]

[2016-08-17 13:02] Thorium commented on #975
Any news on this one?

[2016-08-17 14:38] giacomociti commented on #975
I haven't looked into this again, but surely the memory leak is due to the cache not purging expired items (your PR should fix this).

[2016-08-17 14:53] Thorium commented on #975
I was thinking if @ovatsus would have checked the parsing-again-and-again problem... :-)

[2016-08-18 01:25] rkeithhill commented on #956
I'm seeing the same error message for the `portable-net45+netcore45` version in an F# project we are trying to convert to .NET Core 1.0.

[2016-08-22 00:41] zpbappi opened #986 "Failing tests in FSharp.Data.Tests\Http.fs"
There are 3 tests in the ~/tests/FSharp.Data.Tests/Http.fs file that are failing. The tests are:
- `Don't throw exceptions on http error`
- `Throw exceptions on http error`
- `Setting timeout in customizeHttpRequest overrides timeout argument`

The reason they are failing has nothing to do with the expected behavior. Rather, the url the tests are calling (http://api.themoviedb.org/3/search/movie)

[2016-08-22 17:29] fwaris opened #988 "Visual Studio 15 (preview) FSharp.Data Error"
I know this is still early days for VS'15 but FSharp.Data does not seem to work with F# Core 4.4.1.0

To try to track the error I cloned the repo and tried to compile the projects with core 4.4.1.0.

I could not compile the FSharp.Data.Tests projects. Here is the output from VS 15:

1>	C:\Program Files (x86)\Microsoft SDKs\F#\4.1\Framework\v4.0\fsc.exe -o:obj\Debug\FSharp.Data.Tests.dll -g --debug

[2016-08-23 20:36] ovatsus commented on #986
We already use a mock http server for some tests, see the HttpIntegrationTests.fs

[2016-08-24 12:29] zpbappi opened #989 "Dr. Who in trouble"
Interestingly, the test `viewersByDoctor` in `docs/content/library/HtmlProvider.fsx` (line 130 at the time of writing) is failing in AppVeyor and Travis-CI. However, it passes nicely in my machine. Even the following script runs perfectly:

[code]

I can only find the following detail from [travis-ci logs](https://travis-ci.org/fsharp/FSharp.Data/builds/154637656):

[code]

Anyone with any idea ab

[2016-08-24 15:05] taylorwood commented on #989
There have definitely been times before when Wikipedia's Dr. Who page changes and this test needed to be updated, but it's odd that it passes on your machine but not another.

[2016-08-24 15:14] zpbappi commented on #989
One possible reason I can think of is wiki in my region (Sydney) is not updated yet, whereas it is updated in other regions. But it seems unlikely as the test has been failing for last few days in CI servers, but running nicely in my machine. I don't think wiki have a different version for Australia. If page update is the case, can we slowly migrate all the tests to use mock server to remove the d

[2016-08-24 20:22] tpetricek commented on #989
I think we also do some caching of schema in type providers (possibly!)

[2016-08-24 22:12] zpbappi commented on #989
_**tl;dr** EXPLAIN... EXPLAIN..._

Yes, I saw the generated types are cached to avoid regeneration everytime. If the tests were failing in my machine but passing on CI servers, I would suspect caching. However, I think we are getting a new instance of CI server everytime a build is running. I don't think caching scenario applies here. This is what confuses me. Or, am I missing something?

[2016-08-25 07:49] colinbull commented on #989
One other thing to consider, is the caching of the actual web request in Travis's CI web proxy? (Again possibly?)

[2016-08-26 08:38] nikoudel opened #990 "Getting runtime error: Could not load file or assembly 'FSharp.Data... A strongly-named assembly is required."
This probably happens because FSharp.Data.dll is not signed. Is there some reason why it's not signed?

`System.IO.FileLoadException was unhandled by user code
  FileName=FSharp.Data, Version=2.3.2.0, Culture=neutral, PublicKeyToken=null
  FusionLog=""
  HResult=-2146234300
  Message=Could not load file or assembly 'FSharp.Data, Version=2.3.2.0, Culture=neutral, PublicKeyToken=null' or one of its

[2016-08-29 03:03] xenocons opened #991 "Runtime IO NRE"
I haven't been able to reproduce this (but it kills Visual Studio so I will log it anyway), I am using the XmlProvider, here is the stacktrace:

[code]

https://github.com/fsharp/FSharp.Data/blob/master/src/CommonRuntime/IO.fs#L168 appears to be the point of failure, it might be desirable to check if `typeProviders` is null before attempting to access it or modify the `typeProviders` to not use a

[2016-08-29 06:33] nikoudel commented on #990
I've ended up signing FSharp.Data.dll [manually](http://stackoverflow.com/questions/1379954/how-i-do-a-sign-an-assembly-that-has-already-been-built-into-a-dll-specifically) but now I have to do it every time FSharp.Data updates. Would be nice to have it readily signed.

[2016-08-29 15:14] object opened #992 "Should JSON type provider use UTF-8 as default"
According to RFC 4627, "JSON text SHALL be encoded in Unicode. The default encoding is UTF-8."
This raises the question: why is PostDefaultEncoding  and ResponseDefaultEncoding use ISO-8859-1 as default encoding when dealing with JSON data?

Another question: unless I am overlooking something, it doesn't seem to be possible to override ISO-8859-1 encoding when sending POST requests with JSON type

[2016-08-30 16:42] OkayX6 opened #993 "FSharp.Data & Xamarin.iOS conflict?"
Hey,

I am very surprised to run into this compability issue with my Xamarin projects, when trying to install FSharp.Data?

Any clue on this?

Curious because it is supposed to be compatible (https://www.nuget.org/packages/Zlib.Portable/)

[2016-08-30 17:25] OkayX6 commented on #993
Well, it must have something to do with the nuspec of the aforementioned package.
I managed to find a workaround by hacking my project and directly referencing the DLLs, but that is not great :(.

[2016-08-30 22:09] 7sharp9 commented on #993
FSharp.Data only has a pcl profile 47 afaik

[2016-08-31 12:53] OkayX6 commented on #993
Yeah but the conflict doesn't come from FSharp.Data itself.
Anyway, if referencing DLLs directly, it works...

Could it be due to this?
https://github.com/NuGet/Home/issues/562

[2016-09-01 20:55] giacomociti commented on #975
lurking around I noticed an old warning of @dsyme about caching in aed22f01144f16a5b689c0408e8af8dbd4bd2163
Out of curiosity, I just commented out writing to `providedTypesCache `at line 305 of [Helpers.fs](FSharp.Data/src/CommonProviderImplementation/Helpers.fs).
Playing a bit in visual studio with a few big files, it seems that memory is released far more often.

Mine is not a decent analysis (j

[2016-09-09 01:39] ninjarobot opened #994 "Can this be released under MIT or BSD instead of Apache 2?"
FSharp.Data is a great library - a huge timesaver in so many cases.  However, every time I use it, that brings my projects under some added scrutiny because of the dependency on this Apache 2 licensed component.  While that is generally very friendly for commercial purposes, using it means our legal department scrutinizes my entire project and its use of the library in the event that part of it ma

[2016-09-15 15:12] AuroraDysis commented on #988
meet same error in vs15

[2016-09-16 14:47] Grendizr opened #995 "CSVProvider Schema should be validated upon load"
If you consider the following code

`
type CodeNameMappingType = CsvProvider<"Code, Name", Schema="Code (string), Name (string)", Encoding="windows-1252", HasHeaders=true, SkipRows=0>

use data = CodeNameMappingType.Load("file.csv")
data.Rows |> Seq.map(fun x -> mappingInit x.Code x.Name) |> Seq.toArray
`

Let's say file.csv contains data with header but with 4 "data columns" .. instead of 2 defin

[2016-09-28 11:20] garrardkitchen opened #997 "Transfer-Encoding = TE ?"
Hi,

Should https://github.com/fsharp/FSharp.Data/blob/89d1902db65fec669375069db1c8987e88e16b54/src/Net/Http.fs#L154 be "Transfer-Encoding" and not "TE"?

Warmest regards,

Garrard.

[2016-09-29 15:04] AmadeusW commented on #988
I have similar issue in VS15 preview 4. I get errors FS3031 (different) and FS3005 (same)

[code]

[2016-10-03 17:02] ploeh commented on #914
@tpetricek Is it still the case that F# type providers can't provide records?

I'm not implying that it's your responsibility, but I do know that you have insights into this field :smile:

I can live with the lack of lenses (I can glue that on myself), but I'd really like to be able to use copy-and-update expressions. Having to write out the entire copy code myself sort of defeats the purpose of t

[2016-10-03 17:08] MatthiasWeiser commented on #914
[Support Provided Union and Record Types](https://fslang.uservoice.com/forums/245727-f-language/suggestions/5663267-allow-to-generate-dus-and-records-in-type-provider) is the related user voice issuer.

[2016-10-03 17:15] ploeh commented on #914
Thank you, @MatthiasWeiser I'd like to vote, but I'm out of votes :disappointed:

[2016-10-03 20:36] tpetricek commented on #914
@ploeh I voted for you :-)

I would love to have a good story for this, but I'm not sure what that would be at the moment. Lenses are good theory, but without decent syntax, it would take F# Data in a very different direction than the one it tries to follow currently.

We could emulate `with` keyword and provide something like:

[code]

I think this is as good as we can do without some nice `with`

[2016-10-03 22:16] jon49 commented on #914
That would definitely make them more than read only. Especially if you could do multiple fields at one in the with method. Really, it would be almost equivalent, just different syntax, trading in the curlies for parans!

I up voted the issue too :+1:

[2016-10-11 09:01] piers7 opened #998 "XElement ... not found in reference assembly set (in Visual Studio only)"
I have a strange issue with the XmlProvider. Within my .fsi script in Visual Studio 2015 it's throwing the following error in the designer:

However when I run the script from either Visual Studio's F# interactive window or command-line FSI, I get a _different_ error (apparently 'data at the root level is invalid'). But even then, if I just load the file up in System.Xml.XmlDocument it's structura

[2016-10-11 09:15] piers7 commented on #998
Ah. The design-time error went away when I added the following to my .FSX file, for which I feel somewhat silly, but it wasn't obvious to me :-/

Now just have to work out why the same input file works fine at design-time, but fails at runtime (groan)

[2016-10-11 14:08] taylorwood commented on #998
@piers7 do you mind closing the issue if everything is resolved?

[2016-10-11 15:43] #998 closed

[2016-10-11 16:38] FoggyFinder opened #999 "Displaying images in documentation on Japanese."
When displaying images uses the wrong reference:

![doc](https://cloud.githubusercontent.com/assets/16510738/19279470/3bea9c8a-8fea-11e6-86fa-14045836d30b.jpg)

`...src="/images/Deedle.png" />`

As a variant - create a folder "En" and change the path to images when generating documentation.

[2016-10-14 18:51] prosconi commented on #675
+1 Just ran into this, annoying.

[2016-10-29 10:59] dgellow opened #1002 "How to extract the status code from a WebException generated by XmlProvider<...>.Load ?"
Hi,

I'm using `XmlProvider` to fetch and parse RSS feeds. I want to handle HTTP Errors but I cannot find a way to get the status code of a `webexception.Response`.
The C# approach is to cast the `WebResponse` to `HttpWebResponse`, that doesn't seem to work with the response from `MyXml.Load`.

To be more explicit, look at the code below. `downcastWebResponse` tries to downcast the `WebResponse` f

[2016-10-31 03:36] jschiefer commented on #989
The underlying cause for the failure is that the number of columns in the table gets calculated wrong (i.e. it does not account for colspans). I recently proposed a fix in #1003 .

[2016-10-31 03:44] zpbappi commented on #989
@jschiefer I am rooting for your PR.

Sorry, for not being in touch for long. But if above fix will remove impediments for my long waited PRs ( #980 and #981)

[2016-10-31 04:40] jschiefer commented on #989
Thanks, Zp, I have looked into the time offset issue myself a few months ago, but got nowhere, so I was excited to see #980. Let's show this CI stuff some love!

[2016-10-31 11:13] #978 closed

[2016-11-02 20:09] bergey opened #1006 "JsonValue equality"
Equality for `JsonValue.Record` depends on the order of keys.  I expect two objects with the same keys & values to be the same regardless of key order.  Would you take a PR with an equality predicate that ignores order of keys?

[2016-11-02 22:46] ovatsus commented on #1006
It used to be like that originally, and we even used a map, but we had to change it to an array of tuples to preserve the order, as some applications break if you don't use a specific order of keys

[2016-11-11 17:35] OlegZee commented on #988
Just tried VS15 Preview 5.

Getting error:
[code]

[2016-11-15 00:00] zpbappi commented on #989
With #1003 merged, Dr. Who has regenerated again. We can safely close this issue without disrupting the timestream.

[2016-11-15 00:00] #989 closed

[2016-11-20 16:54] sgronblo opened #1007 "Object reference not set to an instance of object for IMDB URL"
Environment:

OS: OSX 10.11.6
Editor: VSCode 1.7.1
Plugin: Ionide-Fsharp 2.10.1
Compiler environment: Mono JIT compiler version 4.6.2 (mono-4.6.0-branch/08fd525 Thu Nov 10 20:28:28 EST 2016)

I wanted to try to use HtmlProvider. I tried to set it up like this by using the IMDB top 250 movies ranking:

[code]

However VSCode shows an error on the first line saying: internal error: Object reference

[2016-11-20 17:07] sgronblo opened #1008 "Nuget example in documentation does not work"
Environment:

OS: OSX 10.11.6
Editor: VSCode 1.7.1
Plugin: Ionide-Fsharp 2.10.1
Compiler environment: Mono JIT compiler version 4.6.2 (mono-4.6.0-branch/08fd525 Thu Nov 10 20:28:28 EST 2016)

Trying to use type providers in F#. Following the NugetData example here: http://fsharp.github.io/FSharp.Data/library/HtmlProvider.html

I type in everything as in the example but when typing `let rawData = N

[2016-12-03 12:47] dsyme opened #1011 "HtmlProvider gives error on specific wikipedia page"
This code:
[code]

gives error:

[code]

[2016-12-03 12:54] dsyme opened #1012 "Nan value given when numeric data has "%" at end, despite numeric type being inferred"
This code
[code]

Gives a whole lot of NaN values.  I believe because the numeric data on the page has ``%`` at the end of each entry.  But the inference algorithm has inferred a numeric (float) type.  either the type should be a string, or the data should be brought in at runtime correctly?

[code]

[2016-12-04 18:40] gmpl opened #1013 "Need to reopen FSharp.Data"
I need to get the type of the rows because I will transform the structure later, as you can see in this sample code:

    #r @"C:\packages\FSharp.Data.2.3.2\lib\net40\FSharp.Data.dll"

    open FSharp.Data

    type InterestRate = {Period : string; Mid : float}
    type html = FSharp.Data.HtmlProvider<"http://www.cmegroup.com/trading/interest-rates/stir/eurodollar.html">

    open FSharp.Data

[2016-12-04 22:38] tpetricek commented on #1013
You can refer to the type using the name that you give it when you say `type Xyz = HtmlProvider<...>`. Using `CmeEuro` as the type name:

[code]

You can refer to the row type using `CmeEuro.QuotesFuturesProductTable1.Row`.

[2016-12-04 22:38] #1013 closed

[2016-12-04 23:18] gmpl commented on #1013
Thanks for your answer wrt to my last question.
What about the main question?

[2016-12-14 09:50] mcliment commented on #992
When sending a POST request with JSON content you can set the charset on the header and it's picked properly when encoding the request body:

    ContentType "application/json; charset=utf-8"

A complete example (that I've uses successfully):

[code]

Anyway I agree that *utf-8* should be the default behavior and not ISO-8859-1.

[2016-12-16 20:25] Dzoukr opened #1014 "ToString() on HtmlDocument omits DOCTYPE"
Calling `ToString()` method on `HtmlDocument` omits DOCTYPE.

See this example:

[code]

`newDocString` now contains:

[code]

I think, the DOCTYPE should be there and it should look like this:

[code]

I also checked [W3C Doctype documentation](https://www.w3.org/wiki/Doctypes_and_markup_styles) to be sure.

[2016-12-19 08:08] Dzoukr opened #1016 "NewCData member missing"
Currently, there is no possibility to create new CData element (for other element types this option exist). I`ll probably create PR for this.

[2016-12-19 08:15] Dzoukr commented on #1016
Now waiting for PR acceptance :)

[2016-12-19 16:59] imranazad opened #1017 "Preserving whitespace with Load"
How can I specify the following option:

    LoadOptions.PreserveWhitespace

with the Load function? I've tried passing it in but the compiler complains there's no such overload.

[2016-12-22 09:42] ExoltenOne commented on #844
I had the same when I copied project with FSharp.Data installed via NuGet. A reinstallation FSharp.Data on this project via NuGet helped.

[2017-01-07 22:25] mjgpy3 opened #1018 "Feature Discuss: Recursive JsonProvider types"
Excellent library, thanks for all the hard work!

Is there a way to specify that a nested JSON value is of the same type as wrapper object?

For example, today I was trying to use the provider on an object that looks like
[code]

Where everything in the object follows that basic form any number of levels deep or wide.

Do you think it's possible to provide a type that looks basically like?
[code]

[2017-01-17 18:04] ed-ilyin opened #1021 "RequestString seems hangs on Linux(Mono) with some urls"
The following code seems just hangs on Linux (or maybe Mono) with this specific url.
[code]
It is posible to interrupt hby Ctrl+C

Same code and url works on Windows.

How can I solve or workaround this problem?

[2017-01-17 19:41] #1014 closed

[2017-01-17 19:41] #1016 closed

[2017-01-18 23:16] arctiq1 opened #1022 "HtmlProvider Self closing table tags"
HtmlProvider doesn't provide tables if they contain self closing tags which are not closed.

[According to w3.org HTML 4.01](https://www.w3.org/TR/html401/struct/tables.html#edef-TD) and [HTML 5](https://www.w3.org/TR/html5/tabular-data.html#the-td-element) TD, TH TR tags needn't be closed. Sadly many apps take advantage of this.
 ## Expected
Parsing self closing tags should behave the same regard

[2017-01-25 06:59] FreeBirdLjj opened #1024 "FSharp.Data.Runtime.Caching.createInMemoryCache memory leak"
The implementation of `FSharp.Data.Runtime.Caching.createInMemoryCache` stores the outdated value forever and GC cannot release their memory.

[2017-02-03 12:46] giacomociti commented on #1024
if I understand correctly, #983 includes a fix for this

[2017-02-03 12:48] nojaf opened #1026 "Json Type Provider Parse should return option"
If you try to parse a json string that is missing a property an exception will occur.
F.ex.
[code]
And if you are not in control of the incoming json this is a problem. There no way of telling if the json coming from a client will match.

Would it not make sense if the Parse function returns an option of Root?

[2017-02-04 03:19] FreeBirdLjj commented on #1024
Sorry for duplicated issue, I just searched the keyword `createInMemoryCache` and found no results so I open this issue.

[2017-02-06 19:36] chrismacklin opened #1028 "Http POST form data limited to URI length"
Uri.EscapeDataString is used when converting FormData in a POST request into a byte stream.  However, EscapeDataString is hardcoded to raise an exception if the string is longer than 32766 characters.  This limitation is irrelevant here.

[2017-02-06 22:46] vladkosarev opened #1029 "CssSelect starts from document body"
Why does CssSelect start the search from document body? That ignores everything in the header and is different behaviour from jQuery selectors.

[2017-02-10 01:41] vladkosarev commented on #1029
I'll get this fixed up

[2017-02-10 03:00] vladkosarev commented on #1029
#1030

[2017-02-10 17:45] ajukraine commented on #982
I have similar issue. What is the difference between patches?

[2017-02-11 09:56] huwman opened #1031 "JsonProvider error when type is consumed from another project"
JsonProvider error when type is consumed from another project.

When consuming a module in 'Library1' which has a JsonProvider type declared within it from 'Library2', a <Note> is shown with the error: "The type provider 'ProviderImplementation.JsonProvider' reported an error: Cannot read sample JSON from 'GetUserResponse.json': Could not find a part of the path 'C:\Source\JsonProviderTest\Library

[2017-02-23 07:36] nikoudel commented on #990
Can't reproduce the issue with F# 4 any more.

[2017-02-23 07:36] #990 closed

[2017-02-27 06:38] rmunn opened #1032 "CsvProvider very slow when culture explicitly specified"
A [question on Stack Overflow](http://stackoverflow.com/questions/42469637/fsharp-data-csvprovider-performance) ended up revealing a performance bug in CsvProvider (and probably in many other type providers as well, given the bug's likely cause). If no culture is specified in the arguments to CsvProvider, it runs speedily, taking (for example) 8 seconds to consume a .csv file with 700,000 lines. B

[2017-02-28 03:55] rmunn commented on #1032
Looks like PR #1033 fixes this one.

[2017-02-28 03:55] #1032 closed

[2017-03-01 23:44] lilred opened #1034 "CSV type provider parses as Int32 values which are larger than Int32"
10-digit phone numbers are inferred by the type provider as Int32 values. This causes a runtime error when trying to read a row.

[2017-03-02 09:30] nejcskofic commented on #977
It seems that the problem is due to console test runner utilising multiple  threads and that '_fixtureSetup_' method runs on different thread than actual test. Since generator registration is done [per thread](https://github.com/fscheck/FsCheck/blob/fb0f915fabe985f04ee1a6fef915289b7ae50cad/src/FsCheck/Arbitrary.fs#L157), unit test does not have custom generator for '_JsonValue_' registered and def

[2017-03-02 15:26] ovatsus commented on #977
Thanks @nejcskofic, could you please send a PR with that change?

[2017-03-03 11:15] nejcskofic commented on #977
Sent PR #1035.

[2017-03-03 11:38] ovatsus commented on #977
Thanks!

[2017-03-03 11:38] #977 closed

[2017-03-05 22:38] dmitrynovik opened #1036 "HTMLParser fails to parse the site's DOM properly"
Steps to reproduce:

Try to do a few lines of code:
let doc = this.load("http://www.financialobserver.com.au")
let body = doc.CssSelect("body")

This will not find the body tag and throws the exception, however when you look at the site' DOM there's clearly a body tag

[2017-03-06 12:03] FaguiCurtain opened #1037 "Overall slowness in XAMARIN"
I'm using FSharp.Data CSVProvider and JSON Provider on MACOS X, Xamarin 6.15

I'm experiencing a lot of slowness from Xamarin when i use the library (compile and F# interactive at the same time)
the cursor becomes round and waits for a few seconds, as it looks like its trying to read all the files to check whether they were modified or not.
i've got around 20 files who are part of a CSVtype or JSO

[2017-03-09 15:57] maestrow commented on #533
Why this issue was closed? As far as I understand currently there is no way to get parent from HtmlNode, isn't it? However this is necessary feature.

[2017-03-13 00:47] Rhywun opened #1038 "CsvProvider.GetSample fails on Mono after more than 32 rows"
Mono 4.8.0
FSharp.Data 2.3.2

My script code:

[code]

When loading the file, following error appears when reading the 33rd line. I tried various rows of data to ensure there was nothing wrong with it.  It succeeds with 32 rows or less but fails with any combination of more than 32 valid rows.

[code]

[2017-03-19 19:48] Gastove commented on #675
Any chance anyone's found a work-around for this?

[2017-03-20 09:33] DmitryBatalov commented on #953
Hi I've started investigation that question.

It is not possible to say what do you mean in Sample parameter. For example, you have CSV file where you have collected file paths. Please have a look at the example below.

[code]

Here you can see that inline sample could be a file path, though it is not a file path.

My suggestion is to add one more parameter that will instruct somehow that it is a

[2017-04-05 15:44] NickLydon commented on #136
The CsvProvider doesn't appear to match columns based on name, but rather by order. We have a supplier that occasionally gives us a file with new columns dropped in the middle, which breaks our application. Is there a way to get it to match by name with the schema property?

[2017-04-06 02:57] kberridge opened #1040 "Http.Request fails with "part of the cookie is invalid" on VSTS API"
When I query the Visual Studio Team Services (VSTS) API:

`Http.RequestString("https://organization.visualstudio.com/DefaultCollection/Project/_apis/wit/queries", headers = [ "Authorization", "Basic base64encodeduseraccesstoken"])`

I get the following error:

[code]

I switched to WebClient.DownloadString() and that is working.  I also tried it in Postman hoping I could attach some more informati

[2017-04-07 01:35] ledbutter commented on #953
PR opened by @DmitryBatalov for this issue [here](https://github.com/fsharp/FSharp.Data/pull/1039)

[2017-04-10 21:53] ovatsus opened #1041 "Doesn't build on a machine only with VS2017"

[2017-04-10 21:54] ovatsus commented on #1041
And can't find VS2015 community to download any more :(

[2017-04-10 22:00] ovatsus commented on #1041
Installing Visual F# 4.0 Standalone also didn't help

[2017-04-10 22:02] ovatsus commented on #1041
1) Building C:\Git\FSharp.Data\FSharp.Data.sln failed with exitcode 1.
          2) MSB4057: C:\Git\FSharp.Data\src\FSharp.Data.fsproj(0,0): The target "Rebuild" does not exist in the project.
          3) MSB4019: C:\Git\FSharp.Data\src\FSharp.Data.Portable7.fsproj(86,3): The imported project "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v12.0\FSharp\Microsoft.Portable.FSharp.Targets" wa

[2017-04-10 22:30] ovatsus commented on #1036
Probably because of this #1029

[2017-04-10 22:33] #1029 closed

[2017-04-10 22:34] #1036 closed

[2017-04-11 02:20] eriawan commented on #1041
@ovatsus

The web download of VS 2015 Community Edition is available at free sign up of Visual Studio Dev Essential. Just sign up at this link:
https://my.visualstudio.com/Benefits?wt.mc_id=o~msft~vscom~devessentials-swimlane~689&campaign=o~msft~vscom~devessentials-swimlane~689

After your email has been verified, please log in to my.visualstudio.com,
Your screen should look like this:

![image](h

[2017-04-11 02:55] eriawan commented on #802
@ovatsus I think this issue should be closed.
It's been fixed by PR #920  from @scrwtp 🙂

[2017-04-11 07:59] ovatsus commented on #1041
Thanks, I already got VS 2015, but we still need to fix the project so it works either if vs2017 or vs2015 is installed, without requiring a specific one

[2017-04-11 08:00] #802 closed

[2017-04-11 12:45] mastoj opened #1046 "[CSV Type provider] are the type provider supposed to load and return lines in order?"
I loaded a file of ~100MB and it reported an error on line X. I did a lookup on line X and a couple of lines before and after but couldn't see any error. When I parsed line X manually with the type provider it passed. Also, when iterating over the `Rows` property it doesn't look like the ordering is the same as when I just iterating over the lines in the file.

Can I expect the `Rows` to be in the

[2017-04-11 14:16] ovatsus commented on #1046
Yes, they should be in the same order

[2017-04-11 17:47] mastoj commented on #1046
@ovatsus, that is really strange. Maybe the provider is doing some kind of "look ahead"? That might explain what I experienced today.

I can't share the data since that is internal to us, but what I did over a 100mb file was just a simple `Load` of the data. After that I started iterating over the seq just printing each row, and after a while it crashed. I did get a row number for when it crashed

[2017-04-14 12:40] ghost opened #1048 "XmlRuntime.fs Error with FSharp.Option.Some in xml optional field"
### Description

i have a simple type generated with Xsd type provider,
then a simple record marked CLIMutable i use as interface from c# client side.
in this way i can construct a record from c# and then use it to generate a new XmlElement to serialize.

My problem is that with the option type, referenced from C# side for some fields of the record, which have minOccur = 0, when i pass an option d

[2017-04-25 18:08] Thorium commented on #1041
I had similar issues with another fsharp project.

I thought that the problem is fsproj-file:
[code]

But modifying that didn't fix my problems. What helped for me was updating FAKE, maybe MSBuild command parameters have changed... But I tried this with FSharp.Data, didn't help.
(Also I had problem with my FSharp.Core reference, I had do change it to explicit reference to project.references and co

[2017-04-26 11:25] dsyme commented on #1038
@Rhywun Could you provide the data set for this by any chance?  thanks

[2017-04-26 23:11] Rhywun commented on #1038
Here it is:
[FootballResults_test.csv.zip](https://github.com/fsharp/FSharp.Data/files/960003/FootballResults_test.csv.zip)

Note: I am now on Mono 5.0.0.78 (2017-02/ba317ed Sat Apr 22 19:30:07 EDT 2017)
Same result.  Thanks

[2017-05-09 06:04] MatthiasWeiser opened #1050 "'ProviderImplementation.FreebaseTypeProvider error"
I created a small and simple script. I noticed in VS 2017 the following non-fatal error while developing the script.

I have downloaded the latest FSharp.Data using Nuget.

It would be nice if this error can be removed. If you point me in the right direction, then I might do it myself.

[2017-05-09 06:11] MatthiasWeiser commented on #1050
The search for Freebase in the code did not yield any results, thus it might be related to the build process.

[2017-05-10 14:32] sergey-tihon opened #1052 ""This stream does not support writing" on Mono 5"
I have a feeling that the line
[code]
fails on Mono 5 from Mono `beta` channel `(Stable 5.0.0.94/1d0445b Wed May  3 17:40:24 UTC 2017)`

with error `System.InvalidOperationException: This stream does not support writing`

[code]

Issue found here https://github.com/fsprojects/SwaggerProvider/pull/76

**Update 1** Seems that `Http.RequestString` also fail

[2017-05-10 15:25] sergey-tihon commented on #1052
Issue is reproduced by @nosami [here](https://github.com/fsprojects/SwaggerProvider/pull/76#issuecomment-300517554)

[code]

[2017-05-10 20:29] ovatsus commented on #1050
The freebase provider was removed a long time ago, so this is very weird :) Maybe you have an older FSharp.Data.dll around that's being loaded at runtime?

[2017-05-11 18:13] mateuszlewko commented on #1052
I'm having exactly the same issue, so I guess it happens to everyone.

[2017-05-11 20:42] mastoj opened #1053 ""This stream does not support writing" on mono 5.0.0.48 for Http.RequestString"
I'm trying to use the http utilities but get a weird error I haven't seen before.

[code]

I'm not sure this is because I updated to mono 5.0.0, could be. Downgraded to latest stable, 4.8.1, and it worked.

The code I'm running is really simple:

    let response = Http.RequestString("https://www.twitter.com")

[2017-05-12 06:20] mastoj commented on #1053
I've registered an issue on mono: https://bugzilla.xamarin.com/show_bug.cgi?id=56260

[2017-05-12 12:24] dsyme opened #1054 "Please update ProvidedTypes.fs for Mono 5.0"
Please update to use the latest version of ProvidedTypes.fs, as described in  https://github.com/fsprojects/FSharp.TypeProviders.StarterPack/issues/121

[2017-05-12 12:25] dsyme commented on #1053
@mastoj @tpetricek We should probably find a workaround for this rather than waiting for a Mono fix?

[2017-05-12 12:42] MatthiasWeiser commented on #1050
It is just an Visual Studio. Weird - but will close.

[2017-05-12 12:42] #1050 closed

[2017-05-12 13:55] sergey-tihon commented on #1053
Duplicate of #1052

[2017-05-12 14:38] sergey-tihon commented on #1052
Update, seems that Mono does not has it's own [System.IO.Compression](https://github.com/mono/mono/blob/master/mcs/class/System.IO.Compression/System.IO.Compression.dll.sources) and reuse implementation from `corefx`!

So, the bug probably should be submitted to dotnet core team (if someone will repro it on .net core).
This issue may be relevant ... https://github.com/dotnet/corefx/issues/11497

P

[2017-05-12 16:30] mastoj commented on #1053
@dsyme should it still be fixed when a mono fix is already there : https://bugzilla.xamarin.com/show_bug.cgi?id=56260, but not released in any 5.0.x release yet. I think the fix is available in beta 5.2.x releases. However, people downloading the stable release will have issues.

[2017-05-12 16:39] dsyme commented on #1053
I see.  I guess waiting is ok

[2017-05-12 17:33] mastoj commented on #1053
A fix will be out asap: https://mobile.twitter.com/migueldeicaza/status/863078651985666048

[2017-05-13 19:41] easysoft2k15 commented on #1052
@sergey-tihom, did You manage to disable *gzip*?
I thought I could write:

`req.AutomaticDecompression <- DecompressionMethods.None`

but seems like `AutomaticDecompression` property is not available on `Profile7`.

[2017-05-17 09:55] nosami commented on #1053
Fixed in CoreFX https://github.com/dotnet/corefx/commit/a6c7e23421701870c1eb855eae95e4605e5b04b3

[2017-05-19 17:20] brianberns opened #1055 "ContentType HttpContentTypes.Json fails to specify UTF-8"
JSON is typically serialized as UTF-8. However, there doesn't appear to be any convenient way to specify this in an HttpRequest. Workaround is to manually spell out "Content-Type: application/json; charset=utf-8" in the headers list instead, which defeats the purpose of having enumerated HttpContentTypes.

[2017-05-25 19:52] sergey-tihon commented on #1052
Seems that issue fixed in released Mono 5.0.1

[2017-05-25 19:52] #1052 closed

[2017-05-25 19:53] sergey-tihon commented on #1053
Should be fixed in released Mono 5.0.1

[2017-06-08 08:08] coolya commented on #943
I was thinking about picking this on up, but while looking through the code I noticed there are already a bunch of `#ifdef`s that seems to make it compile. Were there other issues? I haven't run any tests so far.

[2017-06-09 02:06] baronfel commented on #1054
This should be in fixed in PR #1056 as well as part of a general paket update

[2017-07-01 08:44] #999 closed

[2017-07-04 17:02] dsyme opened #1058 "Heads up: What to do if a .NET SDK 2.0-style project file references a type provider like FSharp.Data"
Just a heads up about an issue https://github.com/Microsoft/visualfsharp/issues/3303 which may affect some users of FSharp.Data

With the imminent arrival of .NET SDK 2.0, people are starting to use new .NET SDK-style project files even for .NET Framework programming.  A typical project file looks like this:
[code]
That's it. For the majority of F# code nothing else (besides an install of the .NET

[2017-07-04 23:31] dsyme commented on #943
So... it turns out you can already use the FSharp.Data type provider when doing .NET Core programming through the workaround described here:

https://github.com/Microsoft/visualfsharp/issues/3303#issuecomment-312966306

(Aside: There is one warning which should be considered:
[code]
However I believe that could go away by publishing the right FSharp.Data.dll for .NET Standard 2.0, which we can do

[2017-07-06 09:34] Peter360 opened #1059 "FSharp.Data.HtmlDocument.Parse br element"
HtmlParser.fs @ line 710

`            | Tag(_, "br", []) :: rest ->
                let t = HtmlText Environment.NewLine
                parse' docType (t :: elements) expectedTagEnd parentTagName rest`

If I understand the br element is being replaced with a newline.

Does this mean that it is not possible to us FSharp.Data.HtmlDocument.New on a subset of HtmlNodes and retain the mean of br?

fo

[2017-07-07 14:09] dsyme opened #1060 "Long term: Simplifying to just .NET Standard 2.0?"
This is a long term thing about how we're simplifying type providers.  There's no immediate action required

We've completed the work in the F# compiler and compiler service to [support ".NET Standard 2.0" libraries and type providers](https://github.com/Microsoft/visualfsharp/pull/3307).  These improvements will gradually be rolled out into compilers and editors (that will take a while, as you ca

[2017-07-07 18:59] ovatsus commented on #1060
If we do that will it keep working for people still in VS2015 and F# 3.1?

[2017-07-10 21:27] duncanmak commented on #563
Is there a reason why `parseRootValue` in `JsonValue.fs` doesn't support parsing simple numbers and other non "collection" literals?

[code]

It seems like a handy behavior to allow other literals at the root level.

[2017-07-21 15:53] thinkbeforecoding commented on #1022
I fixed it with PR #1061.
The PR also fix the <ul><li>a<li>b</ul> case.

[2017-07-21 18:58] #1022 closed

[2017-07-23 17:31] eriawan commented on #1041
@ovatsus

I have a machine that only has VS 2017 installed, and it works fine.

My VS 2017 release is: 2017.2 iteration 16.

This is the about box of my Visual Studio:
![vs2017_about](https://user-images.githubusercontent.com/8773147/28501514-611e8234-7007-11e7-8fb3-61b4a468e136.png)

[2017-07-27 02:04] Soldalma opened #1062 "Why does this code crash when executed a second time in FSI?"
I left the comment below on StackOverflow and two prominent contributors, rmunn and Fyodor Soikin, suggested I report it as a bug.

I have some code that generates an exception the second time  it is executed in FSI.

The sequence is the following:

1) Select all lines above it, run on FSI using Alt+Enter.

2) Select the code, run on FSI using Alt+Enter. So far no errors.

3) Run the selected code

[2017-07-27 17:46] buvinghausen commented on #1060
Great stuff Don! Looking forward to v3 making it out to nuget.

[2017-07-28 09:52] eriawan commented on #1041
@ovatsus

I think this issue can be closed, because I have tested on different VM and physical machines.
If you have other issues about compiling in VS 2017.2, please let me know and I hope I can help out 🙂

[2017-08-01 19:41] vsapronov commented on #647
@ovatsus
Can we reconsider this question?
Here are some benefits of doing the split into FSharp.Data base types and FSharp.Data type providers:

1. As mentioned above FSharp.Data.DesignTime.dll would not be required anymore in scenarios when type providers are not used.
2. It looks like support for type providers in net core is not done yet and there's no clear plan (with dates on it). The split c

[2017-08-01 22:04] tpetricek commented on #647
I see this has 16x 👍 so I suspect people would find this useful - I can see how someone might want to use just the `JsonValue` stuff or for example the HTML parser that we have.

@vsapronov I'd say that if you'd have time to work on this and can work with @ovatsus to make sure this does not make other things too much more complicated, then we should accept this.

(I guess this means having `FSharp

[2017-08-01 23:13] ovatsus commented on #647
FSharp.Data.DesignTime.dll should already not be required in scenarios when type providers are not used, without having the need to split the assembly. I remember that working long time ago, we probably broke it with the last changes to support the new PCLs, but should be fixable

[2017-08-02 11:29] 7sharp9 commented on #1060
@dsyme So for consumes from the mobile side, they would have to consume netstandard2.0 in the future?

[2017-08-10 13:41] 7sharp9 commented on #1060
Is zlib available as netstandard for this?

[2017-08-10 14:13] dsyme commented on #1060
@7sharp9 Re mobile Xamarin will support .NET Standard 2.0

@ovatsus If we go ahead with this, I assume VS2015 users would be stuck with the latest available package specifically targeting .NET 4.x

However, I think it is a while before the F# compiler toolchains will support .NET Standard 2.0 type providers - the proposal in the linked bugs/PRs was rejected because it involves shipping a mere 96 e

[2017-08-11 11:42] 7sharp9 commented on #1060
@dsyme I was specifically looking at this reference:
https://github.com/dsyme/FSharp.Data/blob/ee4f12e275e77fcaa13990be2602aa75398955bd/src/Net/Http.fs#L651

There is a net standard version of that lib available from a different nuget:
https://www.nuget.org/packages/Iconic.Zlib.Netstandard/

Im using FSharp.Data where I don't actually use any TP's Im only using json helpers etc.

[2017-08-16 05:52] vsapronov commented on #647
@ovatsus I have checked more thoroughly latest state on things. Yes, it seems that reference to FSharp.Data.DesignTime.dll is not required anywhere. Even when using NuGet/paket reference to that dll is not added automatically. This allows us to use minimal FSharp.Data.dll. I will check a bit more and probably will ask to close this issue as completed.

[2017-08-16 14:22] tony-johnson-i2o commented on #677
Was work ever started on this? Are you still looking for someone to pick it up?

[2017-08-16 18:08] dsyme opened #1064 "HTML sample references decommissioned site"
the docs here:

https://github.com/fsharp/FSharp.Data/blob/master/docs/content/library/HtmlProvider.fsx

reference https://www.bmreports.com/servletcom.logica.neta.bwp_MarketDepthServlet which has been [decommissioned](https://www.elexon.co.uk/change/new-balancing-mechanism-reporting-service-bmrs/)

The code below would be an adequate replacement, though the reference HTML data used for type check

[2017-08-17 05:15] BenHewins opened #1065 "Type for 0.00 value not inferred correctly"
Hi,

When a sample is provided to the JsonProvider which has a value like 0.00, it currently defaults to generating an int. If you then try and parse json where that field is set to a decimal value it will be silently truncated:

[code]

This is also understandable behaviour, although I think that at least an option to warn/error on truncated values when parsing would be valuable.

The combination

[2017-08-22 14:20] souserge opened #1066 "Uninformative error when building a project"
I am trying to build a test project with FSharp.Data package installed, but unfortunately an error appears:
`C:\Program Files\dotnet\sdk\2.0.0\FSharp\Microsoft.FSharp.Targets(224,9): error MSB6006: "RunFsc.cmd" exited with code -1073741571. [C:\FsProject\FsProject.fsproj]`

[2017-08-22 14:50] dsyme commented on #1066
See https://github.com/Microsoft/visualfsharp/issues/3303 for workaround

[2017-08-22 15:07] souserge commented on #1066
@dsyme thank you.

[2017-08-22 15:07] #1066 closed

[2017-09-04 10:09] 7sharp9 commented on #1060
What Im doing, I only use the json helpers, is use packet to add the needed files and the relevant defines:

[code]

[code]
It would be nice to have a nuget for this thats usable from .NET "standard" 2.0

[2017-09-06 03:50] eriawan commented on #1041
@ovatsus
is this issue still happened?
I have tested on VS 2017.2 and VS 2017.3 (the updated 15.3.3) it works well.

[2017-09-13 21:04] realvictorprm commented on #677
I wonder too

[2017-09-13 21:29] realvictorprm commented on #677
@tpetricek can we get this going again? Is it technical seen still relevant?

[2017-09-13 21:57] tpetricek commented on #677
@realvictorprm I do not know how widely is JSON Schema adopted, but aside from that, this still sounds interesting and relevant, so if anyone wants to have a go, I'm all for it :)

[2017-09-13 22:46] realvictorprm commented on #677
Good, need this for glTF which specification is in schema json. Can you point me a bit?

[2017-09-14 09:20] realvictorprm commented on #677
@tpetricek I have some questions which need to be answered so I can start developing a new up to date json schema type provider:
1. Do we use an external library for parsing the schemas or should I write a complete new one?
1.1 If I should write a new one, on which existing code should I write the parser. Do we have helper functions or restrictions on how to write the parser? (I would go with pars

[2017-09-14 20:46] realvictorprm commented on #677
@tpetricek feel free to assign this to me.

Tracking PR is #1069

[2017-09-14 21:33] realvictorprm commented on #1041
I would like to know the state too.

[2017-09-14 21:36] realvictorprm commented on #1059
noticed but not looked into it yet.

[2017-09-14 21:40] realvictorprm commented on #1053
@tpetricek I think this can be closed.

[2017-09-14 21:42] realvictorprm commented on #1018
I think this could be better coupled to a json schema 🤔

[2017-09-14 23:45] tpetricek commented on #1053
Thanks!

[2017-09-14 23:45] #1053 closed

[2017-09-19 23:24] f4hy opened #1072 "CsvProvider has no option to write dates without timezone information."
The CsvProvider can give inconstant results if one does not need exact times, but just dates and the file is written and read in a different timezone.

`type DateProbmes = CsvProvider<"Name, Date\n myname, 2017/09/19">`

If you write such a file in UTC timezone, it will be written to a file as

However if this file is then read somewhere in the US, it will give you some local time on 2017-09-18 !!

[2017-09-20 08:27] SaschaNaz opened #1073 "Documentation ambiguity for JsonProvider"
On the paragraph [_Parsing Twitter stream_](http://fsharp.github.io/FSharp.Data/library/JsonProvider.html):

No, all those fields are not optional. If you see [the data](https://github.com/fsharp/FSharp.Data/blob/master/docs/content/data/TwitterStream.json) it contains `Tweet`s *and* some `delete` event objects of which structure is vastly different from the one of `Tweet`.

[code]

This causes th

[2017-09-23 13:13] ovatsus commented on #1041
Still doesn't work for me. If I only have VS2017 installed, then I have to revert this for the Fake build to work - https://github.com/fsharp/FSharp.Data/pull/1045 - and if I do that I get a bunch of errors like `The module/namespace 'System.Collections.Generic' from compilation unit 'mscorlib'`

Installing just the MSBuild Tools 2015 fixes compilation for the main version, but portable still fail

[2017-09-24 10:12] ovatsus opened #1075 "Reenable documentation tests"
All the documentation tests were failing with The module/namespace 'System.Runtime.CompilerServices' from compilation unit 'mscorlib' did not contain the namespace, module or type 'ExtensionAttribute', so right now they have the Ignore attribute

[2017-09-24 11:07] #1041 closed

[2017-09-24 23:00] vdehaven commented on #1002
The `HttpWebResponse` is sitting on `e.Response.res`, a private member of `Response` on `WebException`.  It not only private, it's protected or internal, so we can't expose it in a subclass.  Would love to have access to it, as mapping a WebResponse to an HttpWebResponse using the public members is error-prone at best.

[2017-09-25 05:49] Thorium commented on #975
Until the commit is merged, you can get the fixed package from here: https://www.nuget.org/packages/FSharp.Data.XMLProvider/

[2017-09-25 06:39] Thorium commented on #1041
Just took the latest master. On my VS2017 v15.3.4 the solution file builds ok. However admin developer command prompt command line `build All` fails with

[code]

@ovatsus did you find a solution as you closed this?

[2017-09-25 07:03] ovatsus commented on #1041
That was the same error I was getting before, but after I started referencing FSharp.Core directly from paket it started working for me. Can you try deleting the packages folder and trying again?

[2017-09-25 07:04] Thorium commented on #1041
A little debugging, the problem is the part of project file I pasted earlier...
[code]
...because path `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\VisualStudio\v14.0\FSharp\Microsoft.FSharp.Targets` doesn't exist.

To display these paths, I just added a Rebuild-task to the project file manually:
[code]

[2017-09-25 07:13] ovatsus commented on #1041
If you have only have VS2017, VisualStudioVersion should be 15 instead of 14, maybe you have a VisualStudioVersion env variable defined?

[2017-09-25 07:15] Thorium commented on #1041
Setting command environment variable

[code]

...before build did help!

[2017-09-25 07:54] Thorium commented on #1041
Bit off-topic but the latest master is failing one test:

[code]

[2017-09-25 16:17] tpetricek commented on #1075
They were always fairly flaky... not entirely sure what would be causing this. Sounds like some sort of binding-redirect-kind-of-thing but no idea how exactly this is misbehaving.

[2017-09-26 05:30] dnauck opened #1076 "[CSV Type provider] cannot parse CSV with double quotes inside"
Hi,

i've the following issue with the CSV Type Provider:

As soon as there is a odd number of double quotes in a csv file the CSV type provider skips (combines) rows.

The expected result are 3 rows with 3 columns.

CSV Test File:

    Release;ANW-ID;Kurzbeschreibung
    17.0;0001A;Anwendung "1
    17.0;0002B;Anwendung "2"
    17.0;0003C;Anwendung 3

[2017-09-26 05:32] realvictorprm commented on #1076
I don't know the source code exactly but as ambiguous as the specification of csv is I guess its only possible to tell the provider to not interpret quotes (as option).

[2017-09-26 12:56] ovatsus commented on #1076
There is already a parameter for it, see here - http://fsharp.github.io/FSharp.Data/reference/fsharp-data-csvprovider.html - you will need to set the Quote parameter to some other character so the quotes can be considered part of the text

[2017-09-29 08:43] dnauck commented on #1076
Yes, used a uncommon char as Quote parameter and now it works. Thanks.

[2017-09-29 08:43] #1076 closed

[2017-09-29 17:30] baronfel commented on #1054
This can be closed now, I believe.

[2017-09-29 18:07] f4hy opened #1077 "Version 2.4 breaks FSharp.Data.Http.*Request and requests are immediately aborted."
Upgrading to 2.4 broke our codebase everywhere that we used Http.Request or Http.AsyncRequest where the requests would abort immediately and the apache logs indicated the calls were timing out but they would return seemingly instantly.

`WebException message The request was aborted: The request was canceled.
webexception:System.Net.WebException: The request was aborted: The request was canceled. -

[2017-09-29 18:08] f4hy commented on #1077
@ovatsus  is it related to commit `602f29a9cbaaac22bccc614cf23e409a73111956` ?

[2017-09-29 18:37] #1054 closed

[2017-09-29 18:39] ovatsus commented on #1077
@baronfel, can you have a look at this? It seems we're disposing a stream when we shouldn't

@f4hy, can you share a small snippet of code that repro's the issue?

[2017-09-29 18:53] baronfel commented on #1077
@ovastus I'll dig into it.
@f4hy a snippet would help me zero in quickly!

[2017-09-29 20:17] f4hy commented on #1077
So in writing a script to reproduce the issue, I found it has to do with the length of the input body test. If it is small, it works fine, if it is over a certain size the request immediately fails.

[code]

http://httpbin.org/post is just some public url I found so we can test this and not test against my production result.

So the fact that this fails just when the body is a certain size seems o

[2017-09-29 20:52] baronfel commented on #1077
It sounds like there may be a bug in the asyncRead or asyncCopy functions,
which takes 4k at a time. Let me add some tests around your examples to
validate.

On Fri, Sep 29, 2017, 1:17 PM Brendan Fahy <notifications@github.com> wrote:

[2017-09-29 21:35] baronfel commented on #1077
I've replicated the problem using your example and added it as a test case in the repo. Working on a resolution now.

[2017-09-29 21:39] baronfel commented on #1077
I have fixed your issue, PR incoming!

[2017-09-30 10:10] ovatsus commented on #1077
Released 2.4.1 with the fix

[2017-10-03 16:28] imranazad commented on #1017
Any one?

[2017-10-06 18:44] ovatsus opened #1080 "CsvFile.Load doesn't use current directory from system.environment"
I can do this:

    open System.IO
    System.Environment.CurrentDirectory <- __SOURCE_DIRECTORY__
    File.ReadAllLines("filename")

and it picks up __SOURCE_DIRECTORY__\filename

but if I do this:

    CsvFile.Load "filename"

It will try to load `C:\Program Files (x86)\Microsoft SDKs\F#\4.1\Framework\v4.0\filename`

[2017-10-06 18:57] ovatsus opened #1081 "Add TryFindColumn functionality to CsvFile"
The idea is to be able to do `csv.TryFindColumn "columnName"`

Today that can be done with `csv.Headers |> Option.bind (Array.tryFindIndex ((=) "columnName"))`

[2017-10-08 12:25] saneman1 opened #1082 "[Http.fs bug] error with uploading request body"
I do PUT http request with some  body, size about 1MB.
The server immediately responds with error status code (409 Conflict), I see it in the traces. After upload of the request body is complete, an error occurs:

WebException: The underlying connection was closed: An unexpected error occurred on a receive.
  IOException: Unable to read data from the transport connection

exception raised at funct

[2017-10-08 14:37] ovatsus commented on #1082
Can you try to get a code snippet that reproduces the problem?
/cc @baronfel

[2017-10-08 14:42] baronfel commented on #1082
It'll be at least 5 hours until I can look at this (traveling and whatnot) but I definitely will when I get back to my computer.

[2017-10-08 14:57] saneman1 commented on #1082
code snippet

    open FSharp.Data
    open System.IO

    let test () =
        let resp = Http.Request(
                    "https://somewebdav-server/dir1/file1", //server name for example
                    httpMethod = "PUT",
                    headers = [
                        HttpRequestHeaders.ContentType "application/binary"
                        HttpRequestHeaders.BasicAuth "user"

[2017-10-08 15:08] ovatsus commented on #1082
Hey Chet, I didn't mean to put any kind of pressure on you, look at this whenever it's convenient, remember this is open source not work :)

[2017-10-08 15:23] baronfel commented on #1082
@ovastus no worries, it's all internal pressure. I feel a tiny sense of ownership/responsibility for breaking it in the first place :)

[2017-10-08 15:29] ovatsus commented on #1082
This one doesn't seem related to your change, probably was already broken.
@saneman1 , did this work in 2.3.3 and got broken on 2.4.0/2.41, or does it fail on both?

[2017-10-08 16:14] saneman1 commented on #1082
@ovatsus , I try only in latests version, but suppose this don't work in all.
Becouse problem in HttpWebRequest / HttpWebResponse.
I can found post about a similar [problem](https://stackoverflow.com/questions/26891077/how-to-get-the-http-response-when-the-request-stream-was-closed-during-transfer)

[2017-10-08 16:26] saneman1 commented on #1082
Idealy, should cancel transmit request body (if server already send response), but I can't found a way to do it.

[2017-10-09 13:16] forki opened #1083 "German date parsing in CSV provider"
Following code:

    let [<Literal>]MesspreisregelungenFile = __SOURCE_DIRECTORY__ + "/data/preisregelungen.csv"
    type Messpreisregelungen = CsvProvider<MesspreisregelungenFile, ";", InferRows = 0, Culture = "de-DE">

and following csv:

  Preisregelung_ID;Messgebiet_Nr;gueltig_seit;gueltig_bis;ID;Status_ID;Internet;Bemerkung;Erfasser;Ersterfassung;letzte_Pruefung;letzte_Aenderung
      1;18437

[2017-10-09 14:00] forki commented on #1083
I took a look at textConversion:FS: we have the following code:

      let dateTimeStyles = DateTimeStyles.AllowWhiteSpaces ||| DateTimeStyles.RoundtripKind
      match DateTime.TryParse(text, cultureInfo, dateTimeStyles) with
      | true, d ->
          if d.Kind = DateTimeKind.Unspecified then
            new DateTime(d.Ticks, DateTimeKind.Local) |> Some
          else
            Some d

[2017-10-09 14:20] baronfel commented on #1083
Could the problem be in [`StructuralInference.fs`](https://github.com/fsharp/FSharp.Data/blob/master/src/CommonRuntime/StructuralInference.fs#L281)?  The active patterns here, if the ordering is to be believed, would parse as decimals the dates you've provided.

[2017-10-09 14:21] baronfel commented on #1083
Eh, nevermind that. I see that all the active patterns take the culture as a parameter.

[2017-10-09 14:22] baronfel commented on #1083
aha, that _is_ it!

[code]

[2017-10-09 14:26] forki commented on #1083
alreaddy fixed it in https://github.com/fsharp/FSharp.Data/pull/1084

just need @ovatsus to merge and release ;-)

[2017-10-09 14:29] baronfel commented on #1083
Nice 👍

[2017-10-09 15:54] #1083 closed

[2017-10-10 22:13] ovatsus opened #1086 "Update CsvFile documentation since ichart.finance.yahoo.com is no longer available"

[2017-10-10 22:30] ovatsus opened #1087 "Update HttpCssSelector documentation since http://en.youscribe.com/o-reilly-media/?quick_search=f%23 is no longer available"

[2017-10-10 22:31] ovatsus commented on #1087
/cc @rflechner

[2017-10-10 22:32] ovatsus opened #1088 "Update HtmlProvider docs since http://www.bmreports.com/servlet/com.logica.neta.bwp_MarketDepthServlet is no longer available"

[2017-10-10 22:33] ovatsus commented on #1088
/cc @colinbull

[2017-10-10 22:49] ovatsus commented on #1075
I hoped that #1085 fixed it, but it didn't. @dsyme , any idea?

The weird thing is that executing DocumentationTests.fs on FSI actually works, the bogus error about ExtensionAttribute is gone, and instead we just get the valid errors about #1086, #1087, and #1088

[2017-10-11 05:45] rflechner commented on #1087
Hi,

Yes, I will try to update documentation this weekend with `https://www.packtpub.com/all?search=f%23`.

Regards

[2017-10-12 02:06] awseward commented on #1080
Hi! I'd like to help out with this, but I'm wondering if I can ask a question or two first..

I might be mistaken, but it looks like it's here that `AppDomain.CurrentDomain.BaseDirectory` gets selected in runtime.
https://github.com/fsharp/FSharp.Data/blob/1ac5f39e7297ef386e39d68f6f73859c25867fae/src/CommonRuntime/IO.fs#L52-L57

I wonder how much code, if any, exists which relies on that behavior?

[2017-10-13 13:43] #1088 closed

[2017-10-13 13:46] ovatsus commented on #1080
I think the issue is that CsvFile.Load and CsvFile.Save don't go throu that piece of code like the type providers

[2017-10-17 15:42] #1011 closed

[2017-10-18 15:13] eugbaranov opened #1091 "HtmlDocument cannot parse document with some JavaScript RegEx replace code"
Having regex replace in JavaScript for left angle bracket results in the parser not being able to parse HTML.
Consider the following HTML:
[code]
The following will throw an exception:
[code]

[2017-10-18 18:33] ovatsus commented on #1091
Do you want to try and send a PR to fix it?

[2017-10-19 07:46] Regent commented on #1091
I'll give it a try.

[2017-10-23 23:06] Regent commented on #1059
Shouldn't `br` be producing DOM node? E.g.
[code]
Parsed into
[code]

[2017-10-23 23:11] ovatsus commented on #1059
By design br's are translated into a newline and all html entities is resolve, to make it easier to use. When creating elements, the opposite should also happen

[2017-10-24 21:53] #1087 closed

[2017-10-25 14:06] eugbaranov opened #1096 "Add cssSelect to HtmlNode"
If we move/add `cssSelect` to `HtmlNode` then we could enable better type inference when working with nodes in functions:
[code]

[2017-10-26 16:15] KoenigLear opened #1098 "HtmlProvider Tables parsing not working correctly when there's additional attributes"
The table in your data tests fails as soon you add attributes e.g. align, border etc.
`<table` title="table" align="center" border="0" cellspacing="0" cellpadding="0">

By fails I mean that using the type provider html = typeA.load("html").Tables is empty.  It's expected that it would return a table.

[2017-10-28 06:00] mike-morr commented on #1060
@dsyme Any update on the status of getting the type providers working on .NET Standard 2.0?

[2017-11-03 20:51] #974 closed

[2017-11-08 13:07] eulerfx commented on #647
Fwiw, the error message with latest version is:

[code]

It appears when referencing `FSharp.Data.dll` from a script file:

[code]

If `FSharp.Data.DesignTime.dll` is copied into the bin folder, then the error goes away.

[2017-11-09 15:21] 2moveit opened #1100 "Configure default DateTimeKind when no timezone information given"
All TypeProviders will convert the DateTime string`"03.01.2016 00:00:00"` automatically to `DateTimeKind.Local`.
https://github.com/fsharp/FSharp.Data/blob/b5df1ca30f5bb7749c4fd340b61f1b7fc43fb547/src/CommonRuntime/TextConversions.fs#L103-L104

I think it's correct that it is set to `DateTimeKind.Local` as of ISO 8601 although the default of .NET `DateTime()` is `Kind.Unspecified`.
Although you're

[2017-11-11 17:33] ivoh opened #1101 "HtmlDocument.Parse() fails to read correctly unquoted attribute (e.g. href)"
Parsing of HTML document with Anchor tags that have href attribute with not quoted value (e.g. `<a href=http://aaa-bbb-ccc/AAAAA/something.htm>`  this is still valid html) mixes up the attribute name and value.
The serialized value is presented as `<a hrefaaa-bbb-cccaaaaasomething.htm="http:">`

FSharp.Data v. 2.4.2.0
File [failingpage.htm]:
[code]

**Repro:**

[code]

**Actual behavior**
FSI show

[2017-11-13 14:22] nojaf opened #1102 "Make HtmlAttribute and HtmlNode accessible"
I'm trying to create script that parse some html to another format.

[code]

Running this in the repl gives me an error that `html.fsx(13,7): error FS1093: The union cases or fields of the type 'HtmlNode' are not accessible from this code location`.

I believe this is due to the internal keyword on [line 17](https://github.com/fsharp/FSharp.Data/blob/master/src/Html/HtmlParser.fs#L17) and [line 31

[2017-11-21 13:20] #1086 closed

[2017-11-24 03:00] lilred commented on #453
This would still be nice :0

[2017-11-27 14:53] rabejens commented on #965
Bump again, I have the same problem. What I tried was: I wanted to use the `XmlProvider`, created a module with one function, and tried to access this function in a C# based unit test.

[2017-11-30 21:57] f4hy opened #1104 "Large post body causes erroneous 'Invalid URI: The Uri string is too long.' error"
Hey again,

A while back I posted an issue #1077 which found that `FSharp.Data.Http.Request` would fail if the body size was too large.

This issue is to report that again the same thing is happening but now for larger body values. The biggest problem is that the error message produced is incorrect as well. When a large body is passed in the error given is `'Invalid URI: The Uri string is too long

[2017-11-30 22:08] f4hy commented on #1104
@baronfel I am not sure if the cause is exactly the same as last time you fixed this but seems like a very similar case.

[2017-11-30 22:11] f4hy commented on #1104
Could be related to #1082 but looks like we get different errors from the same root cause.

[2017-12-01 18:45] daz10000 opened #1105 "CsvProvider.Load loads relative to executable not current working directory"
This may be by design? but I just ran into an odd case which broke the user experience for a bunch of people.   I have a program using CsvProvider that uses the Load method and a relative path is used to load a file.   The attempted load path is relative to the location of the executable not the current working directory (win10,  gitbash shell).   For example

[code]
Invoking a load from the curre

[2017-12-03 18:30] ovatsus commented on #1102
Its' internal by design, so if we change the internal representation it's not a breaking change (we had that problem before with JsonValue). Though I guess we could expose an active pattern

[2017-12-03 18:32] ovatsus commented on #1096
you can do `node.CssSelect "tr"` already. See https://github.com/fsharp/FSharp.Data/blob/c074d945d6dfa59d3749b527f96b2356ab17a0a4/src/Html/HtmlCssSelectors.fs#L394

[2017-12-03 18:33] #1081 closed

[2017-12-03 18:38] ovatsus commented on #1064
@colinbull , you change the example to be about F1 instead, but there was a bit of leftovers: https://github.com/fsharp/FSharp.Data/blob/master/docs/content/library/HtmlProvider.fsx#L21

Can you clean it up?

[2017-12-03 18:38] #1059 closed

[2017-12-03 19:15] #1075 closed

[2017-12-03 19:17] ovatsus commented on #1075
This seems to have been fixed by #1094

[2017-12-03 19:22] #487 closed

[2017-12-03 19:24] #587 closed

[2017-12-03 19:25] ovatsus commented on #607
I believe this has been fixed already

[2017-12-03 19:25] #607 closed

[2017-12-03 19:31] ovatsus commented on #1101
@Regent, want to try fixing this since you're already familiar with this part of the code?

[2017-12-03 19:31] ovatsus commented on #1098
@colinbull want to have a look?

[2017-12-03 19:35] ovatsus commented on #1048
Xsd provider is not finished yet

[2017-12-03 19:35] #1048 closed

[2017-12-03 19:39] #402 closed

[2017-12-03 20:30] ovatsus opened #1107 "Enter doesn't work as a separator in the Schema parameter of CsvProvider"
Would be useful to be able to write

        CsvProvider<
            HasHeaders=false,
            Schema="""Prefix
                      Suggestion
                      Market
                      ...""">

instead of

      CsvProvider<
          "Statistics.tsv",
          HasHeaders=false,
          Schema="Prefix,Suggestion,Market,...">

[2017-12-03 20:31] ovatsus opened #1108 "Support for arrays in Csv columns"
For example, we can have a comma separated file, where one of the columns has strings separated by `|`

[2017-12-03 20:32] ovatsus opened #1109 "Allow to disable inferring columns with only 0 and 1 as boolean, to be integers instead"
Sometimes it's very useful, but sometimes it's very annoying

[2017-12-04 11:56] rabejens opened #1110 "JsonProvider looks in incorrect path for the sample file in a referenced project"
When I reference a project that uses the `JsonProvider`, compiling it tries to reference the sample file from the current project, not the referenced one.

Steps to reproduce:

- Start a blank solution in VS 2015
- Add a F# library
- Add a JSON file to this library, call it `test.json` and add the following:
[code]
- Add a source file with the following:
[code]
- Add a console application, referen

[2017-12-04 14:01] tpetricek commented on #1110
This is an expected behaviour - copying [answer from StackOverflow](https://stackoverflow.com/questions/47632912/f-type-provider-looks-for-sample-file-in-referencing-project-not-referenced-pr/47634855) about this:

---

When you use an F# Data type provider in a library and you reference the library, the compiler will try to access the sample - this is because the types are erased and are recreate

[2017-12-04 14:01] #1110 closed

[2017-12-04 19:00] Regent commented on #1096
I get it, but wouldn't it be more functional if added to `HtmlNode`?
Right now, if I want a function doing something with `HtmlNode` based on `CssSelect` I would have to explicitly specify the type.

[2017-12-04 19:03] ovatsus commented on #1096
Sure, you can send a PR adding that

[2017-12-05 15:05] TonyHenrique commented on #57
I have a complex XSD Schema (multiple files). How can I use F# to read it so I can use this to generate an output XML, with um data on that XSD structure?

nfe_v4.00.xsd and xmldsig-core-schema_v1.01.xsd

http://www.nfe.fazenda.gov.br/portal/exibirArquivo.aspx?conteudo=BALgvpK9Jvo=

In C# I could do

xsd.exe nfe_v4.00.xsd xmldsig-core-schema_v1.01.xsd /c /edb

How can I do this in F#, or, can I re

[2017-12-05 18:10] giacomociti commented on #57
hi @TonyHenrique, xsd is not supported yet in F# Data. The XsdProvider branch is not merged, nor is my PR #1004
If you are willing to use FSharp.Data.Xsd instead, I think your use case is easily supported with the `ResolutionFolder` parameter, as explained [here](https://fsprojects.github.io/FSharp.Data.Xsd/tutorial.html)

[2017-12-05 18:39] ovatsus commented on #57
I'll have a look at trying to merge that this month. Should I consider that PR as a replacement for the old branch?

[2017-12-05 18:44] giacomociti commented on #57
Yes, the PR is an alternative to the existing branch

[2017-12-05 19:38] #1101 closed

[2017-12-05 20:20] TonyHenrique commented on #57
@giacomociti After adding ResolutionFolder, it can read the XML using the 2 XSD definitions.
Now, how can I populate the F# type with Data and generate a XML? is that supported? Can you post a link describing how to do this?

[2017-12-05 22:29] giacomociti commented on #57
@TonyHenrique type providers are more geared towards reading, but writing is supported simply using the constructors on the types generated by the XmlProvider, as explained in the _Transforming XML_ section towards the end of the [XmlProvider documentation](http://fsharp.github.io/FSharp.Data/library/XmlProvider.html)

[2017-12-06 10:52] Regent commented on #1055
I actually had a problem with same exact thing another day, and I wonder if `HttpRequestHeaders.ContentType` should be changed to require a charset too? This would allow to get rid of relying on `charsetRegex` too.

[2017-12-06 19:05] baronfel commented on #1104
Did some poking here earlier today and have a hypothesis for the failure:

When we prepare a form data payload for sending, we UrlEncode the [key and value](https://github.com/fsharp/FSharp.Data/blob/master/src/Net/Http.fs#L1595). The method that we're using to encode these parts throws a `UriFormatException` with the message you've seen because your string value exceeds a hard-coded limit of 3276

[2017-12-06 22:12] f4hy commented on #1104
I have tested #1112 locally and it fixes this issue. Thanks @panesofglass !

[2017-12-07 21:56] #1104 closed

[2017-12-10 01:20] TonyHenrique opened #1113 "XmlProvider constructor: Mutable true/false"
Is there an way to copy constructors on F#?

or can we have an option on the XmlProvider<Mutable=true/false to generate classes with mutable properties?

or can XmlProvider generate Records instead of classes with constructors?

I am trying to use it to generate XML

    //let x = { n with InfNFe = i }          // error FS0039: The record label 'InfNFe' is not defined
    //let x ({ infNFe = i } :

[2017-12-10 19:38] ovatsus opened #1114 "Replace FSharp.Charting with XPlot in documentation and examples"
FSharp.Charting is a bit stale and can't run outside of Windows due to the Windows Forms dependency, I think it would be better to use XPlot

[2017-12-27 02:57] daz10000 commented on #1105
NB:  same problem with XmlProvider.   Annoying to not be able to run ```/path/to/binary.exe *.xml```     to parse local files.

[2017-12-27 16:27] ovatsus opened #1115 "Comments are lost when processing XML files with XmlProvider"
Use case, move resources from one resx to another:

Example:

      #r "System.Xml.Linq"
      #r "packages/FSharp.Data/lib/net45/FSharp.data.dll"
      open System.IO
      open FSharp.Data

      type ResXT = XmlProvider<"../src/Resources/xxx.resx">

      let inputs = Directory.GetFiles(__SOURCE_DIRECTORY__.Replace("Scripts", "") + "src\\Resources", "xxx*.resx")
      let outputs = Directory.Ge

[2017-12-29 18:07] baronfel opened #1116 "[Packaging] Provide Nuget package(s) with just the parsing/helpers"
I've seen comments echoed in a few places that in lieu of being able to use the full providers on netcore and such that it would be useful to be able to just reference the parsing and utility methods. While it is possible now to Paket-file-include the relevant files, it might be nice to provide those in a nuget package that could be referenced individually as well.

Relevant questions:

- What fra

[2017-12-29 18:53] ovatsus commented on #1116
Instead of splitting into multiple packages maybe we could just have the netstandard2.0 target not include the TP code and just the rest? I'm not a fan of overly componetizing stuff, everything just gets more complicated for the common case (think all the fsx scripts that now need to reference multiple dlls)

[2017-12-29 18:54] baronfel commented on #1116
So wrap all the Runtime components in an offer, essentially? That could work too!

[2017-12-29 19:32] ovatsus commented on #1116
Well, FSharp.Data.dll is already only the runtime components, except for an attribute saying to look at FSharp.Data.Designtime.dll for the type providers. So ideally if TPs don't work in dotnet core, the attribute should just be ignored and no change be needed...

On 29 Dec 2017 18:54, Chet Husk <notifications@github.com> wrote:

So wrap all the Runtime components in an offer, essentially? That co

[2018-01-08 13:21] legomind commented on #1077
I am still running into this issue.
Any ideas why?

[2018-01-08 15:24] eulerfx commented on #1116
This is somewhat related to the issue we raised a while back #647. Creating a .netstandard 2 target would solve #647 for .netstandard code, but the issues would remain for .net classic.

Like the OP, I'm slightly in favor of having, say FSharp.Data.Json, referenced from here, but I understand upgrade pain and having to update a bunch of fsx files.

Summary of options (that I'm aware of):

1. Targe

[2018-01-08 16:31] baronfel commented on #1116
@eulerfx what I'm meaning with `paket include` is paket's ability to pull in specific revisions of specific files in a git or github repository.  Docs are [here](https://fsprojects.github.io/Paket/github-dependencies.html#Referencing-a-single-file) for this functionality, but the short version is that paket will add a lockfile entry for the files in question, download them to `paket-files/{repoNam

[2018-01-08 17:08] legomind opened #1119 "Large POST requests aborting immediately. #1077 is still an issue."
I am getting the following exception when posting a large (2mb) multipart form.

`WebException: The request was aborted: The request was canceled.`

Same as #1077

[2018-01-11 02:14] ElegantElephant44 commented on #1098
@KoenigLear Tables is empty because you adding cellspacing="0" cellpadding="0" and don't setting IncludeLayoutTables to true. This code inside HtmlRuntime.cs filter such tables
`let tableElements =
            if includeLayoutTables
            then tableElements
            else tableElements |> List.filter (fun (e, _) -> not (e.HasAttribute("cellspacing", "0") && e.HasAttribute("cellpadding", "0

[2018-01-24 08:41] Thorium opened #1121 "JSON Provider optional Json value on root level"
I'm trying to parse JSON and I'm not in control of schema. ( https://ideal-postcodes.co.uk/ )
The problem is that the schema is a JSON object and not an array.

An code example how I load it:

[code]

Sadly there might be cases when the "result" is not gotten at all: `{"code":4040,"message":"Postcode Not Found"}`. What happens is my AsyncLoad throws a parsing exception. If I set the root as an arr

[2018-01-24 10:42] ovatsus commented on #1121
It is supposed to work when the root element is an object as well, I think there are even test cases for that, this is probably a bug in the structure inference

[2018-01-24 10:43] ovatsus commented on #1121
Ah, wait, on a second look I see the problem. You need to add a second example where the result field is missing, otherwise there is no way for the structure inference to know it's optional

[2018-01-24 10:44] Thorium commented on #1121
How can I add "a second example" to root level?

[2018-01-24 11:11] ovatsus commented on #1121
You can change the sample to be a Json array of examples and then there's a SampleIsList parameter (or something similar, can't remember the name right now, check the docs) that says to the TP to not infer the list but instead the structure of the elements of the list

On 24 Jan 2018 10:44, Tuomas Hietanen <notifications@github.com> wrote:

How can I add "a second example" to root level?

—
You ar

[2018-01-24 11:56] Thorium commented on #1121
Thanks, working!

[2018-01-24 12:36] ovatsus commented on #1121
Maybe try and update the documentation to make this more obvious?

On 24 Jan 2018 11:56, Tuomas Hietanen <notifications@github.com> wrote:

Thanks, working!

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ffsharp%2FFSharp.Data%2Fissues%2F1121%23issuecomment-360108368&data=

[2018-01-24 23:46] #1121 closed

[2018-01-26 21:32] marty-stranger opened #1123 "Unexpected System.ArgumentException"
some requests  fails with
[code]

usage
[code]

no specific pattern observed. replaced with .net core http library

[code]
everything is fine. looks like some internal bug!?

[2018-02-06 15:24] baronfel commented on #874
Another sample file for testing: https://webgate.ec.europa.eu/europeaid/fsd/fsf/public/files/dtdFullSanctionsList/content?token=dG9rZW4tMjAxNw

[2018-02-06 15:27] baronfel commented on #1123
Quite possibly, can you get us the URL and body that raised the error?

[2018-02-10 17:33] #871 closed

[2018-02-18 11:29] ovatsus commented on #1077
@baronfel, can you have a look?

[2018-02-18 12:32] ErikSchierboom commented on #533
I also stumbled upon this, as was a bit surprised it was not there. Is there any way to get at a node's parent?

[2018-02-18 17:52] baronfel commented on #1077
I see the problem. There's a bug in my `CombinedStream` implementation that sometimes asks a stream to read past where its buffer contains.  I'll send a PR momentarily.

[2018-02-19 10:41] #1119 closed

[2018-02-19 11:49] ovatsus opened #1127 "createRelease in build.fsx fails due to two factor auth"

[2018-02-19 12:11] #1127 closed

[2018-02-19 12:15] #1077 closed

[2018-02-19 17:57] ovatsus opened #1129 "FSharp.Data.Tests.Http.testMultipartFormDataBodySize(20000) is failing with System.Net.WebException: The remote server returned an error: (408) Request Timeout. Response from http://httpbin.org/post"

[2018-02-19 17:58] ovatsus commented on #1129
@baronfel

[2018-02-19 18:06] baronfel commented on #1129
Thanks! This has been pretty intermittent on my local, trying to pin down a reproduction :-/

[2018-02-19 21:17] ovatsus commented on #1129
Maybe just try a different service other than httpbin.org

[2018-02-20 12:30] cSharpProCompany opened #1130 "Descendants and CssSelect do not take all elements coorectly"
https://www.amazon.com/s/ref=lp_1_nr_n_0?fst=as%3Aoff&rh=n%3A283155%2Cn%3A%211000%2Cn%3A1%2Cn%3A173508&bbn=1&ie=UTF8&qid=1519043803&rnid=1

try to select all "ul". it will find always random count of "ul" elements within interval 12-19, but page always contain exactly 38 ULs.

or simply run this code

[code]

    let desc = doc.Descendants "ul"
    let css = doc.CssSelect "ul"

should contains 38

[2018-02-20 14:03] ovatsus commented on #1130
@rflechner, can you have a look?

[2018-02-20 20:49] #1129 closed

[2018-02-21 12:37] rflechner commented on #1130
Hi,

I will try to have a look this week.

Regards.

[2018-02-22 12:55] rflechner commented on #1130
Hi,

I confirm that `div#mainResults` seems to be removed by the HTML parser.

I will try to understand why.

Regards.

[2018-02-26 13:39] ovatsus commented on #1055
@Regent , do you want to send a pull request adding a HttpRequestHeadesrs.ContentTypeWithCharset?

[2018-02-26 13:41] ovatsus commented on #992
The overall default encoding is ISO-8859-1. Are you suggesting to assume UTF-8 instead when the content type is JSON?

[2018-02-26 13:42] ovatsus commented on #1107
This is a duplicate of #952

[2018-02-26 13:44] ovatsus opened #1132 "Allow to specify headers in the type providers static parameters when the Sample/Schema is a URL"

[2018-02-26 13:45] ovatsus opened #1133 "Add Prefer header to HttpRequestHeaders"

[2018-02-26 21:27] mcliment commented on #992
@ovatsus Yes. That's what's expected from JSON.

[2018-02-26 22:54] ovatsus commented on #992
Do you want to send a PR with the change?

[2018-02-27 09:48] mcliment commented on #992
@ovatsus 👍

[2018-02-27 18:03] ovatsus commented on #952
Hi @Chicker , want to still try and fix this? My suggestion would be to on the call to `CsvFile.Parse` on `buildTypes` (https://github.com/fsharp/FSharp.Data/blob/master/src/Csv/CsvProvider.fs#L65), add `\n` to the `separators` parameter

[2018-02-27 18:04] ovatsus commented on #1040
Hi @kberridge, do you want to try to put a breakpoint and see what is failing and try to fix it?

[2018-02-28 21:46] Regent commented on #1100
I wonder if allowing to specify and honoring [`DateTimeStyles`](https://msdn.microsoft.com/en-us/library/91hfhz89.aspx) would be a better solution?

[2018-03-16 19:11] ovatsus commented on #1028
Dup with #675

[2018-03-16 19:11] #1028 closed

[2018-03-16 19:12] ovatsus commented on #675
Fixed by #1104

[2018-03-16 19:12] #675 closed

[2018-03-16 19:14] ovatsus opened #1137 "Http.Request escapes too much in the url params"
It doesn't create any issue, but when doing things like OData calls, it's harder to see in fiddler what's going one. `$`,`{`,`}`,`'`,`/` don't need to be escaped. We're using Uri.EscapeDataString in AppendQueryToUrl, while Uri.EscapeUriString would be enough. That was done because of #654, but we could do the switch only when ampersands are being used (or do a point fix for the ampersand)

[2018-03-20 09:38] quintusm commented on #1060
It would really be nice if we could get a .Net Standard 2.0 version out there....

[2018-03-20 14:35] JamesHealey94 commented on #1060
Related: https://github.com/fsharp/FSharp.Data/pull/1118

[2018-03-21 05:05] brettrowberry commented on #57
Has this been resolved?

[2018-03-22 10:37] toburger commented on #57
I'm already using the separate FSharp.Data.Xsd Type Provider, but it would be awesome if the awesome work of @giacomociti could be merged into FSharp.Data.

[2018-03-22 10:56] ovatsus commented on #57
I also really want this, it's on the queue for review after the .net standard PR is finished

On 22 Mar 2018 10:37, Tobias Burger <notifications@github.com> wrote:

I'm already using the separate FSharp.Data.Xsd Type Provider, but it would be awesome if the awesome work of @giacomociti<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fgiacomociti&data=02%7C01%7C%7C3b55

[2018-03-24 11:02] demonno opened #1138 "CsvProvider Documentation - Google finance historical"
If you try to follow the [example](http://fsharp.github.io/FSharp.Data/library/CsvProvider.html) in the CsvProvider documentation, it is not working currently.

[code]

Fails here because google restricted access to historical finance data

https://www.google.com/finance/historical?q=MSFT&output=csv

![image](https://user-images.githubusercontent.com/1255065/37863163-5dda47aa-2f62-11e8-8bc9-30388e

[2018-03-25 17:50] ovatsus commented on #116
Obsolete

[2018-03-25 17:50] #116 closed

[2018-03-25 19:18] #1137 closed

[2018-04-04 17:21] ovatsus opened #1142 "executeFSIWithArgs "docs/tools" "generate.fsx" is failing"
`build release` fails with this error:

    Running build failed.
    Error:
    System.Exception: Start of process fsi.exe failed. The system cannot find the file specified
       at Fake.ProcessHelper.ExecProcessWithLambdas@103-16.Invoke(String message) in D:\code\fake\src\app\FakeLib\ProcessHelper.fs:line 103
       at Fake.ProcessHelper.ExecProcessWithLambdas(FSharpFunc`2 configProcessStartInf

[2018-04-04 17:23] ovatsus opened #1143 "F# Formatting errors when generating docs"
FSharp.Formatting Error: 0 : Error while building member-name for FSharp.Data.CsvRow because: the type '[]`1' does not have a qualified name
    FSharp.Formatting Error: 0 : Error while building member-name for FSharp.Data.HtmlDocumentExtensions.Descendants because: not a named type
    FSharp.Formatting Error: 0 : Error while building member-name for FSharp.Data.HtmlDocumentExtensions.Descendants

[2018-04-04 21:33] ovatsus opened #1144 "Tooltips for type providers are broken on the docs"
I think this was working before and got broken with #1118 (not 100% sure though)

Everything shows up as `obj` now:

![image](https://user-images.githubusercontent.com/738761/38335962-219f8e18-3858-11e8-8244-59ef5e1002fc.png)

[2018-04-04 21:34] ovatsus commented on #1144
/cc @dsyme, @baronfel

[2018-04-05 19:40] ovatsus commented on #709
Seems people still confuse FSharp.Data with the SQLProvider sometimes, we should really update the logo /cc @isaacabraham @sergey-tihon

[2018-04-05 21:26] sergey-tihon commented on #709
I also, really not sure that we should change the logo. `FSharp.Data` is really well-known one.
Could we just use 3 white letter like `SQL` on `SQLProvider` logo?

[2018-04-05 22:43] ovatsus commented on #709
TBH, the current logo always annoyed me slightly because it reminds me too much of databases, and since we're releasing 3.0, would be a good time to change it. Yes, I'd like to keep the same style and colours, but something other than the two cylinders. I guess the FSharp.Data.Toolbox one would be an option, but maybe a mashup of {}, </> and ▦ would be more reminiscent of JSON/XML/CSV/HTML

[2018-04-06 07:48] Xieyanliang opened #1145 "F# error with WorldBankData Indicators"
1 #I @"..\packages"
2 #r @"FSharp.Data.2.4.6\lib\net45\FSharp.Data.dll"
3 open FSharp.Data
4 let wb = WorldBankData.GetDataContext ()
5 let countries = wb.Countries
6 let pop2000 = [ for c in countries -> c.Indicators.Population, total.[2000]]

World.fsx(6,39): error FS3021: 在所提供类型“FSharp.Data.WorldBankData+ServiceTypes+Indicators”成员“GetMethods”中发生意外异常: 类型提供程序“ProviderImplementation.WorldBankProvi

[2018-04-06 09:45] ovatsus commented on #1145
Can you try in 3.0-beta?

I just tried this and it worked fine:

    let wb = WorldBankData.GetDataContext()
    let countries = wb.Countries
    let pop2000 = [ for c in countries -> c.Indicators.``Population, total``.[2000]]

[2018-04-06 10:01] ovatsus commented on #18
Reopening this, since the landscape has changed a bit. AsyncSeq is now a standalone F# package, so maybe having FSharp.Data depend on that wouldn't be so bad? The CsvProvider would really benefit, since right the async methods are not really async. On one hand the extra dependency is always good to avoid, but on the other hand, it would fit very nicely, would help get AsyncSeq a bit more mainstrea

[2018-04-06 13:14] tpetricek commented on #709
Honestly, I don't think there is a good icon to express a mix of JSON/HTML/XML. I would like something that is one simple icon - the Toolbox one is not optimal, but at least it's simple. Any mashup of two or three letters will look messy.

Based on [this google search](https://www.google.co.uk/search?rlz=1C1CHBF_en-GBGB766GB766&biw=1658&bih=974&tbm=isch&sa=1&ei=znHHWqv5DoTWgQb-kp6oCg&q=data+icon&o

[2018-04-06 22:56] ChrisBallard commented on #1034
Is this one still an issue? I've just attempted to create a failing test for this, but seems int64 is correctly inferred should any sample value of 2147483648 or over exist. Of course if the number is formatted like a phone number (e.g 214-7483-648) then string is inferred.

[2018-04-06 23:55] Xieyanliang commented on #1145
What is 3.0-beta? Can you explain in detail ? Thank you very much.

[2018-04-07 10:28] ovatsus commented on #1145
https://www.nuget.org/packages/FSharp.Data/3.0.0-beta

You have to change your nuget client options to allow prerelease versions to get it

[2018-04-08 18:13] lilred commented on #1034
Sounds fixed to me I guess. Thanks whoever did this =)

[2018-04-08 18:13] #1034 closed

[2018-04-08 18:15] #948 closed

[2018-04-09 13:25] #975 closed

[2018-04-09 13:25] #1024 closed

[2018-04-09 13:39] ovatsus commented on #1142
Or maybe it was because of the upgrade to F# SDK 10.1

[2018-04-09 13:51] matthid commented on #1142
Yes I assume they changed location of `fsi.exe` and fake doesn't find it anymore.

[2018-04-09 14:06] ovatsus commented on #1142
FAKE probably needs the equivalent of this: https://github.com/ionide/ionide-vscode-fsharp/pull/732

[2018-04-09 14:34] matthid commented on #1142
Yes indeed - a PR on the fake4_hotfix branch would be welcome ;)

[2018-04-09 14:35] ovatsus commented on #1142
Ah, I sent one to master, let me rebase that

[2018-04-09 14:37] matthid commented on #1142
thanks

[2018-04-09 15:27] #1145 closed

[2018-04-09 15:34] ovatsus commented on #1130
@rflechner , did you got a change to look at this?

[2018-04-09 15:35] ovatsus commented on #1123
Closing due to no repro

[2018-04-09 15:35] #1123 closed

[2018-04-09 15:35] ovatsus commented on #1116
.net core is not supported, so this is no longer a problem, right?

[2018-04-09 15:35] #1116 closed

[2018-04-09 15:40] #1108 closed

[2018-04-09 15:41] ovatsus commented on #1105
It's by design, to make it easier to work with fsi

[2018-04-09 15:43] #1098 closed

[2018-04-09 15:45] ovatsus commented on #1065
Yes, it should give a runtime error

[2018-04-09 15:46] ovatsus commented on #1064
This was already done

[2018-04-09 15:46] #1064 closed

[2018-04-09 15:47] #1060 closed

[2018-04-09 15:47] #1058 closed

[2018-04-09 15:48] ovatsus commented on #1046
Closing since can't repro

[2018-04-09 15:48] #1046 closed

[2018-04-09 15:49] ovatsus commented on #1037
A big perf improvement was just merged to master

[2018-04-09 15:49] #1037 closed

[2018-04-09 15:50] ovatsus commented on #1026
There is a TryParse

[2018-04-09 15:50] #1026 closed

[2018-04-09 15:51] ovatsus commented on #1018
XmlProvider has support for this with the UseGlobalInference param, the same could be done for Jsonprovider

[2018-04-09 15:54] ovatsus commented on #1008
That's an autocomplete issue in vscode

[2018-04-09 15:54] #1008 closed

[2018-04-09 15:54] buvinghausen commented on #1060
@quintusm 3.0 beta was posted last week...

[2018-04-09 15:55] ovatsus commented on #1007
Just tried it on current master and it works for me

[2018-04-09 15:55] #1007 closed

[2018-04-09 15:55] #1006 closed

[2018-04-09 15:57] ovatsus commented on #997
Transfer-Encoding is the response header, but the request header is TE, the code is correct

[2018-04-09 15:57] #997 closed

[2018-04-09 15:58] ovatsus commented on #995
This is by design, parsing is only done line by line on demand, otherwise loading would be very slow on big files

[2018-04-09 15:58] #995 closed

[2018-04-09 15:59] ovatsus commented on #994
Switching libraries is very painful, all contirbutors have to agree, and Apache 2 is a standard license, so I'll close this

[2018-04-09 15:59] #994 closed

[2018-04-09 16:00] ovatsus commented on #993
A lot of changed, so closing this, it probably no longer applies

[2018-04-09 16:00] #993 closed

[2018-04-09 16:00] ovatsus commented on #991
This code has changed a lot, so closing it, it probably no longer applies

[2018-04-09 16:00] #991 closed

[2018-04-09 16:02] ovatsus commented on #986
Already fixed

[2018-04-09 16:02] #986 closed

[2018-04-09 16:04] ovatsus commented on #962
Closing, CI is currently passing on Mono 5, and we no longer support Mono 4

[2018-04-09 16:04] #962 closed

[2018-04-09 16:05] #956 closed

[2018-04-09 16:36] ovatsus commented on #947
I believe this was already fixed

[2018-04-09 16:36] #947 closed

[2018-04-09 16:37] #943 closed

[2018-04-09 16:37] ovatsus commented on #943
Done in 3.0

[2018-04-09 16:38] ovatsus commented on #925
The code has change quite a lot, please resubmit if you still get this problem with 3.0 beta2

[2018-04-09 16:38] #925 closed

[2018-04-09 16:39] #1144 closed

[2018-04-09 16:42] ovatsus commented on #874
Please try again with 3.0 beta 2

[2018-04-09 16:42] #874 closed

[2018-04-09 16:43] #851 closed

[2018-04-09 16:43] #844 closed

[2018-04-09 16:44] ovatsus commented on #831
This is now in the toolbox, so closing this issue

[2018-04-09 16:44] #831 closed

[2018-04-09 16:45] ovatsus commented on #811
This was already done

[2018-04-09 16:45] #811 closed

[2018-04-09 16:46] #776 closed

[2018-04-09 16:46] #771 closed

[2018-04-09 16:47] #744 closed

[2018-04-09 16:47] #737 closed

[2018-04-09 16:49] #632 closed

[2018-04-09 16:50] #574 closed

[2018-04-09 16:50] #573 closed

[2018-04-09 16:50] #572 closed

[2018-04-09 16:50] #470 closed

[2018-04-09 16:51] #399 closed

[2018-04-09 17:04] ovatsus commented on #1143
Fixed with the newer version of fsharp.formatting

[2018-04-09 17:04] #1143 closed

[2018-04-09 17:22] #644 closed, assigned to nobody

[2018-04-09 17:24] ovatsus commented on #578
Already implemented

[2018-04-09 17:24] #578 closed

[2018-04-09 17:42] #973 closed

[2018-04-09 17:42] ovatsus commented on #973
We don't have auth support at all right now

[2018-04-09 17:46] ovatsus opened #1148 "Documentation improvements for HTTP.fs"
* Explain the main feature is that the exception message has the response to make it good for exploring APIs in FSI. For complex use cases people should use something like https://github.com/haf/Http.fs instead
* Document how to include just http.fs via paket source references

[2018-04-09 17:53] daz10000 commented on #1105
Could we discuss this then a little rather than just closing it.   It seems like you are catering to a strange quirk of fsi and breaking all other production use cases.  The end result you want (which is what I want) is to load relative to current working directory for fsi and a program.  Fsi seems to interpret   TP.Load("foo") as loading from current directory,  but a compiled binary will load re

[2018-04-09 17:54] ovatsus commented on #1130
/cc @colinbull as well

[2018-04-09 18:01] ovatsus commented on #1105
Have a look at the current rules here -  https://github.com/fsharp/FSharp.Data/blob/master/src/CommonRuntime/IO.fs#L28 -

The problem is that changing this to the current directory would break another set of cases, and would be a very nasty breaking change

[2018-04-09 18:15] ovatsus commented on #1100
Maybe you could have a AssumeLocalTimeWhenUnspecified boolean static parameter which is default to true?

[2018-04-09 22:57] ovatsus commented on #994
TBH I don't have a strong preference between the two licenses. What would make Apache 2 not a suitable license on a context where MIT is?

[2018-04-09 22:58] ovatsus commented on #994
I think the reason would have to be pretty strong to change, as it would require the explicit written ok from everyone which has ever merged anything into FSharp.Data. I know it was done for the fsharp main repo, but it took a while and that has a lot more resources

[2018-04-10 01:42] Xieyanliang commented on #1145
I updated my win7 to win10, no error now.

[2018-04-10 08:07] quintusm commented on #1060
Thanks I have already started using it and it seems to work fine 👍

[2018-04-10 09:36] imranazad commented on #1017
Hi,

Is there any solution for this?

[2018-04-10 09:37] ovatsus commented on #1017
I didn't understand what was the issue. What Load function are you referring to, and whitespace do you want to preserve?

[2018-04-10 10:30] #1133 closed

[2018-04-10 12:10] #863 closed

[2018-04-10 15:12] #1142 closed

[2018-04-10 15:12] ovatsus opened #1151 "Fix warnings after move to FAKE 5"

[2018-04-10 15:51] ovatsus opened #1152 "Folder structure lost on the two project files after the move to .net core"
Everything shows up as a flat list of linked files now

[2018-04-10 15:59] ovatsus commented on #1012
We strip out all of these characters: `%` `‰` `‱` `¤` `$` `¢` `£` `¥` `₱` `﷼` `₤` `₭` `₦` `₨` `₩` `₮` `€` `฿` `₡` `៛` `؋` `₴` `₪` `₫` `₹` `ƒ`

[2018-04-10 15:59] #1012 closed

[2018-04-10 16:01] baronfel commented on #1152
In which editor?

In VS Code I see correct hierarchies:

![image](https://user-images.githubusercontent.com/573979/38568509-70a7ac7a-3cae-11e8-8d30-f3962e2b9ea7.png)

[2018-04-10 16:05] ovatsus commented on #1152
On Visual Studio 2017

[2018-04-10 16:06] ovatsus commented on #1082
Closing since the problem is in HttpWebRequest / HttpWebResponse so there's nothing we can do

[2018-04-10 16:06] #1082 closed

[2018-04-10 16:08] baronfel commented on #1082
Potential workaround: switch our internal implementation to use HttpClient from nuget, and add a `paket.dependencies` file declaring that to the folder colocated with `Http.fs`. Then, people who paket-include `Http.fs` will pick up that dependency automatically, per the docs: https://fsprojects.github.io/Paket/github-dependencies.html#Remote-dependencies

[2018-04-10 16:11] ovatsus commented on #1062
Tested similar code on a csv file and I couldn't repro. Please reopen if you have a full snippet that reproduces the problem that we can try

[2018-04-10 16:11] #1062 closed

[2018-04-10 16:16] ovatsus commented on #1040
I did a similar request to my organisation VSTS and couldn't repro the bug. If you can still repro it, please provide the cookie value that breaks and reopen this issue

[2018-04-10 16:24] ovatsus commented on #1082
I've been trying to avoid adding the dependency to that nuget package. Http.fs is supposed to be a lightweight thing mainly for FSI use, if people have more complex needs they should use libraries like https://github.com/haf/Http.fs instead

[2018-04-10 16:39] #982 closed

[2018-04-10 16:40] ovatsus commented on #1021
Does this still happen on Mono 5?

[2018-04-10 16:53] ovatsus commented on #1065
Making the 0.000 not be inferred as an integer is actually quite hard to fix. We parse the json, and actually get a 0.000 decimal. However, when we get to the inference part, we lost the string, so we don't know if this came from "0" or "0.0000". We would have to carry the original string around to the inference part to make that decision

[2018-04-10 18:08] ovatsus opened #1154 "Allow JsonValue.fs to be referenced directly through paket"
There's c couple of extensions at the end that depend on IO.fs, but those could be moved to a separate file

[2018-04-10 18:10] ovatsus opened #1155 "Fix the indentation"
There's a mix of 2 spaces indentation and 4 spaces indentation, normalize to 4

[2018-04-10 18:17] #1065 closed

[2018-04-10 18:33] baronfel commented on #1155
We should make an editorconfig file and save it to the repo root: http://editorconfig.org/

All common editors either support this file by default or have an extension that can enforce it.

[2018-04-10 18:37] ovatsus commented on #1155
Interesting, first time I hear about that, seems like a nice idea, though without editors having it on by default out of the box it's probably not going to be very effective. But in any case let's add that. Are you volunteering to do the normalization? :)

[2018-04-10 19:04] baronfel commented on #1155
Sure! You're right it's harder to do without editor support, but we can add/update the Contributing.md to call out that we'd appreciate it if you had your editor configured. Bonus: it's used by VS and Rider by default :)

[2018-04-10 23:25] Regent commented on #1096
I've looked at it another day and found it to be not as trivial as I hoped it to be, unless we move `CssSelectorExtensions` into `HtmlNode` which I'm not sure is something we want to do.

[2018-04-11 08:56] imranazad commented on #1017
It's with regard to this method in Runtime.fs:

` static member Create(reader:TextReader) =
     use reader = reader
     let text = reader.ReadToEnd()
     let element = XDocument.Parse(text).Root
     { XElement = element }`

I've had to pass LoadOptions.PreserveWhitespace to the `Parse` method. I want to be able the preserve the whitespace in the source XML when it's parsed. I was wondering if

[2018-04-11 09:40] ovatsus commented on #1096
Yes, it's a bit tricky. I guess you could merge HtmlCssSelectors.fs with HtmlOperations.fs

[2018-04-11 09:45] ovatsus opened #1156 "Remove [<CompilationRepresentation(CompilationRepresentationFlags.ModuleSuffix)>] since it's no longer needed"
Current F# compiler does it automatically

[2018-04-11 09:48] ovatsus commented on #1017
Oh, I see. Why do you need to pass it, is it just for debugging purposes or some other reason?

I guess it would be safe to always pass LoadOptions.PreserveWhitespace, so I'd rather do that than add yet another option. Do you want to send a PR for that?

[2018-04-11 11:05] imranazad commented on #1017
Yes that's what I was thinking too. The main reason is we have an XML feed that we process and generate a website from and we want to preserve the white-space in the XML content as it's necessary in order to render the content correctly.

Sure thing I'll send a PR through.

[2018-04-11 11:42] ovatsus commented on #1017
But the whitespace on the contents should always be preserved anyway, this flag is just to present the whitespace around tags used for indentation

On 11 Apr 2018 12:05, Imran Azad <notifications@github.com> wrote:

guess it would be safe to always pass LoadOptions.PreserveWhitespace,

Yes that's what I was thinking too. The main reason is we have an XML feed that we process and generate a website

[2018-04-11 12:28] eulerfx commented on #647
What are the potential paths forward on this issue? Can something be done so that the existing package works in this scenario? Or will a separate package be required?

[2018-04-11 13:41] ovatsus commented on #647
What is the actual problem here? the nuget package has both, why is there a need to make it work deleting the designtime dll from the folder structure? It won't be required at runtime, only at compile time. If that is really a requirement, then I think this should be a request on the compiler to not fail if the design time component is missing and just give a warning

[2018-04-11 15:24] imranazad commented on #1017
That's right we need to preserve the indentation around tags, not specifying this flag renders elements conjoined. For example if you have the following xml

`<tag>Paracetamol</tag> <tag>is</tag> <tag>a</tag> <tag>drug.</tag>`

We want it to render as

`Paracetamol is a drug.`

Without preserving white space we get:

`Paracetamolisadrug.`

[2018-04-11 15:33] imranazad commented on #1017
@ovatsus here is the pull request: https://github.com/fsharp/FSharp.Data/pull/1157

Please let me know if there's anything else I need to do.

[2018-04-18 12:55] nhirschey opened #1159 "Parallel parsing of Csv files"
It should be more obvious how to parallelize Csv file parsing. This is important for big files and multicore PCs. Two possibilities:

1. Add some sort of Parallel option to CsvFile.Load() that triggers use of parallel map under the hood. For example a simple version of the function might be:

`

    type test = CsvProvider<"test.csv">
    let LazyParallelCsvLoadRows file =
        System.IO.File.R

[2018-04-18 17:49] sergey-tihon commented on #709
My awesome wife did couple options for you.
Option 1 & 2 are not our idea, 10101 was proposed during beer discussions at F# eXchange. Sorry, I do not know nick-name of the author.

Option 1
<img src="https://user-images.githubusercontent.com/1197905/38948761-130227f2-4349-11e8-978d-df80ffe1414a.jpg" width="200" height="200">

Option 2
<img src="https://user-images.githubusercontent.com/1197905/389

[2018-04-18 18:32] Regent commented on #709
How about a cube like in previous suggestions but with {}, </> and ▦ drawn on visible sides?

[2018-04-24 21:26] Etschbeijer opened #1161 "Problem with loading the scheme from xsd files"
Hi,
I started working with xml files before a short time and was using  FSharp.ata with out FSharp.data.xsd and I had no problem, when I tried to pick specific elements form the file.
But the used scheme is queite complex and I hoped to avoid rewriting it in an xml file because a xsd file is available.
When i used the FSharp.data.xsd everything seemd to work properly because the whole file was loa

[2018-04-25 07:57] giacomociti commented on #1161
Yes, please add the xsd and code

[2018-04-25 16:13] Etschbeijer commented on #1161
I have the problem with the FSharp.Data.Xsd and so I report my problem there. Thank you for the fast respond.

[2018-04-26 17:06] giacomociti commented on #1161
we can close this, the xml was invalid due to a namespace mismatch

[2018-04-26 23:06] #1161 closed

[2018-04-30 22:51] tpetricek commented on #709
I still prefer the current one, or the one from F# Data Toolbox, but I'd be OK with Option 4 (if we could make the box a bit bigger).

I don't like the idea of adding more noise around the cube. The whole point of this logo design was to keep the basic shapes very simple and keep them recognisable at small size.

[2018-05-01 16:41] ovatsus commented on #1040
@Peter360, can you check if it's working with 3.0? There was a cookie related fix

[2018-05-03 11:36] Peter360 commented on #1040
Yes the problem persists.

[code]

Unhandled Exception: System.Net.CookieException: The 'Value'='ms310241(n)/aa139615(n)/aa139616(n)/mt502185(VS.110,n)/mt507958(VS.110,n)/mt521147(VS.110,n)/' part of the cookie is invalid.
   at System.Net.Cookie.VerifySetDefaults(CookieVariant variant, Uri uri, Boolean isLocalDomain, String localDomain, Boolean setDefault, Boolean shouldThrow)
   at System.Net.Co

[2018-05-11 15:24] NatElkins opened #1163 "Question: Is there any reason there is no module with standard HTTP status codes?"
When using the HTTP utilities, I noticed that there were constants for common headers, but not status codes.  Would that be a welcome PR?  I would create the status code constants as per https://en.wikipedia.org/wiki/List_of_HTTP_status_codes .

[2018-05-11 18:43] ovatsus commented on #1163
Yes, that would be a nice addition

[2018-05-14 13:18] eulerfx commented on #647
Yeah this could be a (fsi?) compiler request.

To reproduce:

- Reference `FSharp.Data` package from an F# project and build it.
- Create a `Script.fsx` in that project and reference `FSharp.Data` via `#r "bin/release/fsharp.data.dll"`

This results in an error message which says its looking for `FSharp.Data.DesignTime.dll` and it won't allow the script to run.

If instead the `#r` directive is po

[2018-05-15 10:21] endeavour opened #1164 "JsonValue has two numeric data types whilst JSON only has one."
Javascript/JSON only has one numeric data type so this feels like the domain has been modelled wrong and makes pattern matching after parsing more complicated than it needs to be: if I parse JSON document and want to extract a numeric value via a pattern match, how do I know if I'm going to get a JsonValue.Number (decimal) or a JsonValue.Float?

Since javascript represents numbers as doubles, I wo

[2018-05-26 03:28] tplatt opened #1167 "Crashes when loading an html page with a table with a zero length name"
In NameUtils.fs the current code is:

let uniqueGenerator niceName =
  let set = new HashSet<_>()
  fun name ->
    let mutable name = niceName name
    while set.Contains name do

The following change fixes the issue

let uniqueGenerator niceName =
  let set = new HashSet<_>()
  fun name ->
    let mutable name:String = niceName name
    if name.Length = 0 then name <- "Unnamed"
    while set.Con

[2018-06-11 10:44] anakreontas opened #1169 "Fsharp. Data loads Fsharp.Core v4.3.1.0"
I am using the library in a project compiled with Fsharp.Core 4.0.0.1. The project compiles but raises errors at run time because it fails to load Fsharp.Core 4.3.1.0. The library seems to request that version. In the nuspec file the library requests version 4.0.0.1 but the IL code from fsharp.data.dll contains the following :
.assembly extern Fsharp.Core
{
.publickeytoken =...
.ver 4:3:1:0
}

Thi

[2018-06-11 15:06] ovatsus commented on #1169
Since 2.4.6, the minimum supported FSharp.Core is 4.3.1.0. The only workaround is to stay in version 2.3.3 forever

[2018-06-11 15:06] #1169 closed

[2018-06-12 10:48] Nemeczek commented on #1151
I wanted to pick up this issue but I have some question. The new dotnet cli api seems to be working in a completely different fashion than the previous one. For instance, there is not a method for checking if the cli is installed you just lazily install it and then use it. Is this kind of change in behavior is acceptable for this issue?

[2018-06-15 15:39] baronfel opened #1170 "Support time of day inference"
We should be able to support parsing a time-of-day somehow, so that eg. a csv with a column of `14:55:10` can be inferred as a TimeSpan or something. We should also support naming this type in the schema suggestions, eg `Schema = "Timestamp(TimeSpan)"`

[2018-06-16 15:07] 0x456464 commented on #1163
I'll take a look at this now.

[2018-06-16 16:01] 0x456464 commented on #1163
Submitted a pull request.

[2018-06-16 16:05] 0x456464 commented on #1109
I'll take a look at this now.

[2018-06-17 13:10] 0x456464 commented on #1167
Pull request - https://github.com/fsharp/FSharp.Data/pull/1173

[2018-06-21 09:45] devcrafting commented on #1040
Hi,

I got same error with the following Value : {"echanges":1,"notifications":1,"messages":1} (on another website). Seems JSON is not well supported in Cookie value, perhaps it needs escaping ?

[2018-06-21 10:48] devcrafting commented on #1040
From here : https://github.com/Microsoft/referencesource/blob/c0e8bf3fd2d79d1e73286bc384ba057b7e7b601e/System/net/System/Net/cookie.cs

[code]

So need to escape `;` and `,` if Value does not start and end with `"`...very weird that we need to handle that (!?!)...

[2018-06-25 14:44] mclagett opened #1174 "Am receiving a Missing Method error for FSharp.Data.Runtime.IO.asyncReadTextAtRuntimeWithDesignTimeRules"
Not sure why this is happening, but it is preventing me from using FSharp.Data in either Visual Studio 15 or Visual Studio 17.  I am trying to use FSharp.Data 4.2.6 (in both my host C# web application project and in my f# library) and am building against .NET Framework 4.6 in both projects.

[2018-06-25 16:37] mclagett commented on #1174
Never mind.  Seems to have been fixed with latest Beta 3.0.0

[2018-06-26 12:01] #1174 closed

[2018-06-26 12:06] mclagett opened #1175 "IndexOutOfRange Exception when access table in HtmlProvider's Table Collection"
Hi --

This one I don't really understand.  In the code below, everything executes okay through the binding of filmResults, and when I set a breakpoint on the next line, I can see that the filmResults array contains two values.  Drilling into these, I can see that each value (of type HtmlProvider<...>) has a tables collection and each of these has a table named Table6.   Yet when the Array.map fun

[2018-06-27 17:37] mclagett commented on #1175
I've looked into this further and indeed it is what I suspected in the message above.   I downloaded and built FSharp.Data and traced into the code, and what is happening is that the type provider is somehow holding on to the row converter that it first creates when looking at this page fetched with the first movie id.  The same page is then fetched a second time with a second movie id, and even t

[2018-06-27 22:38] mclagett commented on #1175
One more thought about this.  I have looked at my code and the code for HtmlProvider.fs and Html Generator.fs and realized that the way this works is that when I create an HtmlProvider type off of a sample url, everything about that sample is then built into that type.  So the problem with the code above is that it is creating a LumiereFilmReleaseDetail type off of a url with a particular movie id

[2018-06-27 22:38] #1175 closed

[2018-06-29 01:52] jonsagara opened #1176 "CsvProvider error when referencing netstandard2.0\FSharp.Data.dll, but not with net45\FSharp.Data.dll"
Hello,

I'm trying to use `CsvProvider` in an `.fsx` file, but I'm getting the following error:

The script executes and gives the correct results, but the error is always present in the editor and in the Error List, and I don't have intellisense.

Here is the script:

[code]

If I comment out the `netstandard2.0` version of `FSharp.Data.dll` and instead reference the `net45` version, then the err

[2018-06-29 09:59] IvanAntipov opened #1177 "FSI MissingMethodException"
If I use FSharp.Data.Http.RequestString directly from FSharp interactive it works fine

If I build a module that use FSharp.Data, System.MissingMethodException occured.

[code]

[code]

Repro:
[FSharpDataBuild.zip](https://github.com/fsharp/FSharp.Data/files/2148861/FSharpDataBuild.zip)

UPD: after I restarted VS Code, and changed fsi path from "c:\Program Files (x86)\Microsoft SDKs\F#\4.1" to  "c

[2018-06-30 07:34] serhiiz commented on #1130
The issue is that the parser being in the script mode cannot distinguish js division from regular expression. Currently, whenever it encounters '/' (outside of a string literal, and not followed by another '/' or '*' representing comments) it thinks it's a beginning of a regular expression. It will consume all characters until next '/' and will treat it as a regular expression. Parser will continu

[2018-07-02 15:45] nhirschey commented on #1176
It's not just you, I ran into the same thing. I went back to net46 but there seem to be workarounds. See this and related issues: https://github.com/ionide/ionide-vscode-fsharp/issues/839

[2018-07-04 10:10] chunter commented on #1017
@ovatsus would you be so kind as to take a look at the pull request mentioned above - we would really like to be able to use the main branch of your code again, but we need this fix. Thanks

[2018-07-08 21:03] #1017 closed

[2018-07-08 21:20] ovatsus commented on #1159
For big files, the main issue is memory, not CPU. Switching from ReadLines to ReadAllLines would put the entire csv file in memory. Right now you can read a 8gb file do some transformation and write to another file without hitting memory issues, as only one row is kept at a time, and this would regress that. So I'm going to close this issue as by design

[2018-07-08 21:24] ovatsus commented on #1163
Seems you both sent PRs to do the same

[2018-07-08 21:25] #1163 closed, assigned to nobody

[2018-07-08 21:39] ovatsus commented on #1164
This was intentional to keep with the spirit of F# and try to be safer. JSON these days is used in a lot of places not directly tied to JavaScript so it didn't seem that matching JavaScript was important. So numbers are parsed to decimal by default, and only when not possible they are parsed as float. That does means that we have to pattern match on both, but we think it's worth it.
Closing as by

[2018-07-08 21:39] #1164 closed

[2018-07-08 22:15] ovatsus commented on #1040
@devcrafting , what solution do you propose for this?

[2018-07-09 00:02] nhirschey commented on #1159
Thanks for the thoughts.

For me, the issue using CsvProvider is CPU. I can’t be the only one. The lazy option above with readlines and PSeq gives us both what we want.

Loading a large multi-gig file into memory for analysis was taking me 8 minutes. The above two parallel versions both gave me 4x speedup on an 18 core PC. Not great scaling, but I’ll take 4x when I’m sitting there staring at the s

[2018-07-09 08:29] ovatsus commented on #1159
Sure, let's add examples then

[2018-07-10 11:11] jdh30 opened #1179 "Large JSON hangs FSI"
Due to the `[<StructuredFormatDisplay("{_Print}")>]` in the definition of `JsonValue` F# Interactive prints JSON in its entirety. Even for moderately large datasets this can take a very long time. For example, I am dealing with a 41MB JSON file and F# Interactive hangs for several minutes printing it every time I evaluate an expression that results in JSON.

[2018-07-10 11:14] jdh30 opened #1180 "Deep JSON causes stack overflow"
`JsonValue` parses JSON uses a suite of mutually recursive functions but the recursive calls are not in tail position so deep JSON values cause a stack overflow.

For example:

    String.replicate 50000 "[" + String.replicate 50000 "]"
    |> FSharp.Data.JsonValue.Parse

causes a stack overflow on my machine.

[2018-07-10 13:10] ovatsus commented on #1179
Feel free to send a PR changing the _Print method to put a cap on the amount of data and printing a ... instead

[2018-07-11 14:34] dgrimmin commented on #110
Dear Ovatsus,

I would like to use the CsvProvider to infer units of measure such as <kg/m>, and <N/m^2>. Can you tell me whether that is possible with the Provider product and inverse that you refer to in the source?

I am impressed by all the work done on FSharp.Data.

[2018-07-11 14:36] ovatsus commented on #110
Not supported currently, that's what's this open issue is about

[2018-07-11 15:01] dgrimmin commented on #110
Is this bit of Freebase code you refer to still available? It would be very very cool if the issue could be solved with a minimum of effort.

[2018-07-11 15:21] ovatsus commented on #110
Try to go the the repo state as of Oct 18, 2014

[2018-07-12 08:46] devcrafting commented on #1040
I would try to URL encode the cookie value.
But as I said, I am a bit embarassed that servers of the examples we have do not conform to cookie RFC. And also, I don't have any real life test case since the server using the example I gave don't care about the cookie, so if I send it a value it does not like, I will not see it easily :/.

[2018-07-12 09:21] devcrafting commented on #1040
I tried Url encoding, it fails several tests, not sure it is a good idea, it would introduce breaking changes for those who use their CookieContainer.

A workaround would be to not use CookieContainer in my case. I used it only for convenience of not managing cookies from one request to another. Still there is an issue in this code since CookieContainer is used even if not passed as parameter :

[

[2018-07-16 20:59] giacomociti opened #1181 "XSD date handling"
I'd like to discuss [this issue](https://github.com/fsprojects/FSharp.Data.Xsd/issues/24) here, now that XSD support is merged. I feel uneasy ignoring it; we know that type providers are more geared towards reading than writing, but providing a ctor with a `System.DateTime` parameter that leads to creating invalid xml is simply wrong.

I see two alternatives: the easy one is to drop support for `x

[2018-07-16 21:10] ovatsus commented on #1181
I think relying on #980 would make sense. I want to merge that one and #1027 next

[2018-07-18 13:07] dsyme commented on #1177
This does look like a problem in Ionide not FSHarp.Data

[2018-07-18 13:09] dsyme commented on #1177
I tried on Windows and it works fine, I think we should close this

[2018-07-18 13:09] #1177 closed

[2018-07-18 13:11] dsyme commented on #1176
This isn't a bug in FSharp.Data. You likely need

    #r "netstandard"

See https://github.com/ionide/ionide-vscode-fsharp/issues/839#issuecomment-395054266 also

[2018-07-18 13:11] #1176 closed

[2018-07-18 13:12] dsyme opened #1182 "question: 3.0 release?"
Hi @ovatsus,

Any idea when 3.0.0 will come out of pre-release?  I'd like to update FsLab to have .NET SDK and .NET standard support, see https://github.com/fslaborg/FsLab/issues/137, and would prefer not to take a dependency on a pre-release package.

thanks!

[2018-07-19 14:05] devcrafting commented on #1040
I proposed a PR to solve some issues and that could help some people.
Perhaps @kberridge could have a look if the proposed solution could be enough?

[2018-07-19 16:34] danyx23 opened #1184 "Assembly version issue in 3.0.0-beta4"
It seems that the dlls published in the latest nuget prerelease (3.0.0-beta4) have the assembly version set to 1.0.0 and thus lead to problems when you want to start an application linking against FSharp.Data (the runtime expects an assembly with 3.0.0 to be found). This issue does not exist with 3.0.0-beta3.

[2018-07-27 13:49] dsyme commented on #1182
super thanks

[2018-07-28 08:17] zakaluka commented on #1179
Submitted initial PR to cap value printouts at 512 characters (printout will be 509 characters + 3 dots)

[2018-07-31 17:27] jonsagara commented on #1176
@ovatsus That would be tremendously helpful for people new to F# (like me). Thanks!

[2018-08-03 17:27] kaubuchon opened #1187 "FSharp.Data fails to build - GIT error"
I downloaded FSharp.Data and am trying to build for .NET Standard. I get the following error:
C:\Users\KAUBUCHON\.nuget\packages\sourcelink.create.commandline\2.8.0\build\SourceLink.Create.CommandLine.targets(21,5): error MSB3073: The command "git rev-parse --show-toplevel" exited with code 128. [C:\f\FSharp.Data-master\src\FSharp.Data.DesignTime\FSharp.Data.DesignTime.fsproj]
What am I missing? W

[2018-08-04 10:04] a-a-k opened #1188 "CssSelect doesn't work as expected"
Please, direct me to a relevant closed/opened issue if that already exists.
Here a part of my **HTML** (*if need - you can explore it completely [here](https://apteka.ru/search/?q=%D0%BD%D0%BE%D1%88%D0%BF%D0%B0&order=products%2Cmaterials&vendor=)*)

[![Sample HTML][1]][1]

 I've checked [this examples](http://fsharp.github.io/FSharp.Data/library/HtmlCssSelectors.html) before but when I'm trying to

[2018-08-04 17:09] a-a-k commented on #1130
@serhiiz will it be fixed somehow?

[2018-08-07 02:07] zakaluka commented on #1179
If we don't want to print anything to the console for these objects, that makes complete sense.  @ovatsus which way would you like to proceed?

[2018-08-07 04:39] unixwitch opened #1189 "3.0.0-beta4: XmlProvider ignores attribute default in schema"
hello,

the new XML Schema support in 3.0.0 is really nice, thanks for integrating that.  however, i think i've found a small bug: when the schema specifies a default attribute value, the provider ignores it when parsing a document; i.e., if the attribute is not present in the element, it returns None instead of the default value.

minimal test case:

[code]

actual output:

[code]

expected outpu

[2018-08-07 14:56] nkw opened #1190 "The http module cannot access some websites"
The details can be found in [https://stackoverflow.com/questions/51714017/fsharp-data-http-cannot-handle-302-redirect-when-running-in-net-core-2-1](url)

[2018-08-07 19:40] giacomociti commented on #1189
Interesting issue. Honestly I was not even aware of default values, and investigating this I learned not only about them, but also that `XDocument` has a `Validate` extension method that can do the job for us  (thanks to the `addSchemaInfo` flag):

    open System.Xml
    open System.Xml.Schema

    let parseSchema xsdText =
        let schemaSet = XmlSchemaSet()
        use reader = XmlReader.Cre

[2018-08-09 07:38] serhiiz commented on #1130
@a-a-k sorry, so far I haven't had a chance to come up with a fix. Just in case, there's some info available at https://stackoverflow.com/questions/5519596/when-parsing-javascript-what-determines-the-meaning-of-a-slash